.form-group .form-control {
     border: 1px solid #A7A7A7  !important; 
     background-image: none !important;  
padding: 0px 7px !important;
    /* background-size: 0 2px,100% 1px; */
    /* background-repeat: no-repeat; */
    /* background-position: center bottom,center calc(100% - 1px); */
    /* background-color: transparent; */
    /* transition: background 0s ease-out; */
    /* float: none; */
    /* box-shadow: none; */
    /* border-radius: 0; */
}

.form-group {
    position: relative;
    margin: 15px 0 0;
    padding-bottom: 7px;
}
fieldset {
	margin: 0 0 30px !important;
}

	fieldset legend {
		padding: 5px 0 !important;
		font-size: 18px !important;
	}
	
label {
	margin: 0;
	font-weight: normal;
}

.strong {
	font-weight: bold;
}

.form-group:after {
	content: '';
	display: table;
	clear: both;
}

.control-label {
	display: block;
	padding: 6px;
	font-size: 12px;
	line-height: 22px;
	text-transform: uppercase;
	font-weight: normal;
	color: #999;
	background: rgba(0, 0, 0, 0.014);
}

.control-label.control-label-sm {
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 20px;
	font-size: 11px;
}

.control-label.control-label-lg {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 26px;
	font-size: 14px;
}

label .additional,
.control-label .additional {
	color: #999;
}

.form-control {
	font-weight: normal;
	border: 1px solid #ddd;
	-webkit-box-shadow:	none !important;
	-moz-box-shadow:	none !important;
	box-shadow:			none !important;
	-webkit-border-radius:	0 !important;
	-moz-border-radius:		0 !important;
	border-radius:			0 !important;
}

.form-control:focus {
	border-color: #4fd0fb;
}

.help-block {
	font-size: 12px;
	margin: 2px 0 0;
	color:#999;
}

.required-field {
	display: inline;
	font-size: 18px;
	line-height: 12px;
	color: #f45858;
}

/*
	Horizontal form
*/

.form-horizontal .control-label {
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
}

.form-horizontal .has-feedback .form-control-feedback {
	right: 0;
}

/*
	Input with icons
*/

.form-control-feedback {
	color: #ccc;
}

.has-feedback.has-left-icon .form-control {
	padding-left: 42.5px;
	padding-right: 12px;
}

.has-feedback.has-left-icon .form-control-feedback {
	left: 0;
	right: auto;
}

.has-success .form-control { border-color: #0ac964; }
.has-success .form-control-feedback { color: #0ac964; }

.has-warning .form-control { border-color: #c19716; }
.has-warning .form-control-feedback { color: #c19716; }

.has-error .form-control { border-color: #f45858; }
.has-error .form-control-feedback { color: #f45858; }

/*
	File input
*/

.file-input {
	position: relative;
}

	.file-input label {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 0;
	}
	
		.file-input .btn {
			position: absolute;
			right: 3px;
			top: 3px;
			bottom: 3px;
			max-width: 100px;
			padding-top: 0;
			padding-bottom: 0;
			font-size: 12px;
			line-height: 24px;
			text-transform: uppercase;
		}
		
		.file-input.input-sm .btn {
			line-height: 22px;
		}
		
		.file-input.input-lg .btn {
			line-height: 38px;
		}
		
			.file-input .btn input {
				width: 0;
				height: 0;
			}
	
	.file-input .file-name {
		float: left;
		width: 100%;
		padding: 0;
		border: 0;
		background: transparent;
	}
	
/*
	Select
*/

select.form-control.multiple {
	padding: 0;
}

select.form-control.multiple option {
	padding: 6px 12px;
}

.fancy-select {
	position: relative;
	color: #46565D;
}

	.fancy-select.disabled .form-control {
		cursor: inherit;
		opacity: 0.5;
		background: #ddd;
	}

	.fancy-select .form-control {
		position: relative;
		overflow: hidden;
		cursor: pointer;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

		.fancy-select .form-control:after {
			position: absolute;
			display: block;
			content: "";
			top: 50%;
			right: 0;
			margin: -6px 8px 0 0;
			font-family: FontAwesome;
			font-size: 12px;
			line-height: 12px;
			color: #999;
		}

	.fancy-select .form-control.open {
		border-color: #4fd0fb;
	}

		.fancy-select .form-control.open:after {
			margin-top: -4px;
			color: #4fd0fb;
			-webkit-transform:	rotate(180deg);
			-moz-transform:		rotate(180deg);
			transform:			rotate(180deg);
		}

	.fancy-select ul.options {
		position: absolute;
		visibility: hidden;
		overflow: auto;
		top: 100%;
		left: 0;
		width: 100%;
		max-height: 200px;
		margin: 0;
		padding: 0;
		border: 1px solid #ddd;
		list-style: none;
		z-index: 50;
		background: #f6f6f6;
		opacity: 0;
		-webkit-box-shadow:	0 0 10px rgba(0, 0, 0, 0.05);
		-moz-box-shadow:	0 0 10px rgba(0, 0, 0, 0.05);
		box-shadow:			0 0 10px rgba(0, 0, 0, 0.05);
	}

	.fancy-select ul.options.open {
		visibility: visible;
		opacity: 1;
	}

	.fancy-select ul.options.overflowing {
		top: auto;
		bottom: 100%;
	}

	.fancy-select ul.options.overflowing.open {
		top: auto;
	}

		.fancy-select ul.options li {
			padding: 8px 12px;
			cursor: pointer;
			white-space: nowrap;
			color: #666;
		}

		.fancy-select ul.options li.hover {
			color: #000;
			background: #eee;
		}


		.fancy-select ul.options li.selected {
			color: #fff;
			background: #ccc;
		}
	.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    border: 1px solid;
    background: #FAFAFA;
    margin-top: -2.3px;
}
.styled-checkbox:hover + label:before {
  background: #03A9F4;
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: #03A9F4;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}


	
