.footer {
 background: #fff;
  padding:20px;
}
 .footer h3{
  color:#333;
  line-height: 1;
  /*text-align: center;*/

 }
.footer h3 > span{
  font-size: 18px;
  /*text-align: center;*/
 }

 .footer h3 > small{
 font-weight: 300;
 color: #333;
 font-size: 16px;
 }

 .footer ul{
  color: #333;
  font-weight: 300;
 }

 .footer-icon i:before{
  color:red;
 }

 .footer-social{
  display: inline-block;
  width: 3vw;
  text-align: center;
  margin: 0 20px;

 }
.titulo-redes{
   font-family: 'Montserrat', sans-serif;
   font-size: 24px;
   text-align: center;
   padding:10px;
   border-bottom: 2px solid #9e9e9e;
}
.div-redes{
  margin: 20px auto;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: -20px;
}
.div-redes .row{
  margin-bottom: 60px;
}
 .barra-social {
  margin-top: 20px;
}
.barra-social a {
  text-decoration: none;
}
.barra-social a span:before {
  font-size: 40px;
}
.color-fb {
  /*color: #3b5998;*/
  color: white;
}
.color-tw {
  /*color: #55acee;*/
  color: white;
}
.color-ut {
  /*color: #b00;*/
  color: white;
}
.separador-largo {
  border-top: 1px dashed #ddd;
  margin: 20px;
}