.home-header {
  position: relative;
  height: 550px;
  background-image: linear-gradient(#0288D1, #AEDAFF);
  border-bottom-left-radius: 50% 5%;
  border-bottom-right-radius: 50% 5%;
  margin-bottom: 80px;
}
.home-parallax {
   margin:0 auto;
  /*width: 90%;*/
  position: absolute;
  top: 90px;
  left: 180px;
}

.home-title-blue{

    font-size: 24px;
    text-align: center;
    border-right: 5px solid #03A9F4;
    /*padding-bottom: 10px;*/
    background: #fff;
     box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
     padding: 10px;
     font-weight: 300;
}

.home-title-pink{

    font-size: 24px;
    text-align: center;
    border-right: 5px solid #E91E63;
    /*padding-bottom: 10px;*/
    background: #fff;
     box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
     padding: 10px;
     font-weight: 300;
}

.home-title-green{

    font-size: 24px;
    text-align: center;
    border-right: 5px solid #8bc34a;
    /*padding-bottom: 10px;*/
    background: #fff;
     box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
     padding: 10px;
     font-weight: 300;
}

.sliderPub{
   background: #fff;
     box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
     padding: 10px;
     margin:0px 5px;
     height: 550px;
}
.sliderPub-image{
   width: 100%;
  height: 0;
  padding-top: 75%;
  background-size: cover;
  background-color: #ccc;
}
.slider{
	/*margin-top: 50px;*/
	
}

.slider .home-text-slider{
    background: rgba(255,255,255,0.4);
    padding: 40px;
     /*-webkit-border-top-left-radius: 80px; */
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 80px;
    /*-webkit-border-bottom-left-radius: 2px;*/
    /*-moz-border-radius-topleft: 80px;*/
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 80px;
    /*-moz-border-radius-bottomleft: 2px;*/
     /*border-top-left-radius: 80px; */
     border-top-right-radius: 8px; 
     border-bottom-right-radius: 80px; 
    /*border-bottom-left-radius: 2px;*/
    height: 400px;
}

}

.slider .home-text-slider a{
	margin-left: 40%;

}
.slider .img {
  width: 100%;
  height: 0;
  padding-top: 75%;
  background-size: cover;
   background-color: rgba(255,255,255,0.4);

  height: 400px;

    -webkit-border-top-left-radius: 80px; 
 /*   -webkit-border-top-right-radius: 2px;*/
    /*-webkit-border-bottom-right-radius: 2px;*/
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 80px;
    /*-moz-border-radius-topright: 80px;*/
    /*-moz-border-radius-bottomright: 2px;*/
    -moz-border-radius-bottomleft: 8px;
     border-top-left-radius: 80px; 
     /*border-top-right-radius: 2px; */
     /*border-bottom-right-radius: 200px; */
    /*border-bottom-right-radius: 2px;*/
}
.slider h2 {
	text-align: center;
	font-size: 1.3vh;
  line-height: 1.2;
  margin: 0px;
  padding: 3px;
  background: #E91E63;
  font-weight: bolder;
  color: white;
}
.slider-content-desc{
  position: absolute;
  bottom: 0;
  padding: 10px;
  /*background: rgba(0,0,0,0.2);*/

  
}
.slider-content-desc p, .slider-content-desc h3{
   font-size: 1.5vh;
   color: white;
background-color: rgba(0, 0, 0, 0.35);
  
   padding: 6px;
}
.slider-content-desc h3{
  color: rgba(255,255,255,1.00);
 
    font-size: 2.5vw;
    line-height: 1.2;
    width: 70vw;
    font-weight: 900;
    font-style: normal;
    font-family: "Roboto";
    padding: 20px;
    text-decoration: none;
    text-align: left;
   
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
      transform-origin: 50% 50% 0px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    border-right: 5px solid #E91E63;
}

@media screen and (max-width:580px) {
  .slider-content-desc h3{
 
 
    font-size: 5vw;
   
}
}
.card {
  background: white;
  min-width: 100px;
  min-height: 100px;
  max-width: 400px;
  /*margin: 8px;*/
  -webkit-transition: .4s;
  transition: .4s;
  opacity: 0;
  -webkit-transform: scale(0.75) translate3d(0, 200px, 0);
  transform: scale(0.75) translate3d(0, 200px, 0);
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: pointer;
  
}

.card.angular-grid-item {
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  transform: scale(1) translate3d(0, 0, 0);
}

.card .img {
  width: 100%;
  height: 0;
  padding-top: 75%;
  background-size: cover;
  background-color: #ccc;
}

.card .inside {
  padding: 16px;
  word-wrap: break-word;
}

.card .inside h3 {
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 1.2;
}

.card .inside a {
  color: #E91E63;
  text-decoration: none;
}

.card .inside a:hover {
  text-decoration: underline;
}
.card:hover {
    -webkit-transform: scale(1.05);
  transform: scale(1.05);
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card .inside .description {
  font-size: 14px;
  line-height: 1.3;
  color: #555;
}

.cards-wrap {
  margin: 0 5%;
  padding-bottom: 64px;
  position: relative;
}

.loading-more-indicator {
  text-align: center;
}

.loading-more-indicator md-progress-circular {
  -webkit-transform: scale(1);
  transform: scale(1);
  display: inline-block;
}

.grid {
  border: 1px solid #cccccc;
  list-style: none;
  background: #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.grid-img {
  width: 100%;
  vertical-align: middle;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
  background-color: #fff;
 
}

.grid-img.img-loaded {
  visibility: visible;
  opacity: 1;
}
.load-more {
    background: #F2F2F2; 
    height: 48px; 
    margin: 10px auto; 
    padding-top: 5px;
}
.load-more h4{
    font-weight: bold;
    color: #808080;
}


.home-link-image{
    padding: 10px;
    background: #fff;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 350px;
    margin-bottom: 60px;
}
.home-link-image a{
    text-decoration: none;
    color: #333;
}

.home-link-image a h1{

  font-size: 24px;
  text-align: center;
}

.home-link-image h3{
     text-align: center;
    position: absolute;
    top: 60%;
    background: #9C27B0;
    padding: 10px;
    color: white;
  
}
.home-link-image img{
text-align: center;
margin:0 auto;
  z-index: 1;

}
.home-slider-left{
       /* width: 7%; */
    position: absolute;
    /* left: 0; */
    top: 25vh;
    z-index: 4;
    margin-left: 20px;
     /*background: #E1F5FE; */
    border-radius: 100%;
    height: 6vh;
    width: 6vh;

    padding-top: 1vh;
    padding-left: 0.7vh;
    color: white;

}
.home-slider-left a > span:before, .home-slider-right a > span:before {
  font-size: 4vh;
  color: white;
}
.home-slider-left a, .home-slider-left a:hover{
  color:#808080;
  text-decoration: none;
}
.home-slider-right{
 position: absolute;
    right: 30px;
    top: 25vh;
  
}
.home-slider-right a, .home-slider-right a:hover{
  color:#808080;
  text-decoration: none;
}
/* Shared styles */
        
        .drop-shadow {
            position:relative;
            float:left;
            width:40%;    
            /*padding:1em; */
            /*margin:2em 10px 4em; */
            margin-bottom: 4em;
            background:#fff;
   /*         -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 0, 0, 0.1) inset;
               -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
        }

        .drop-shadow:before,
        .drop-shadow:after {
            content:"";
            position:absolute; 
            z-index:-2;
        }
        
        .drop-shadow p {
          /*  font-size:16px;
            font-weight:bold;*/
        }
        
        /* Lifted corners */

        .lifted {
            /*-moz-border-radius:4px; */
                 /*border-radius:4px;*/
        }
        
        .lifted:before,
        .lifted:after { 
            bottom:15px;
            left:10px;
            width:50%;
            height:20%;
            max-width:300px;
            -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);   
               -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
                    box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            -webkit-transform:rotate(-3deg);    
               -moz-transform:rotate(-3deg);   
                 -o-transform:rotate(-3deg);
                    transform:rotate(-3deg);
        }
        
        .lifted:after {
            right:10px; 
            left:auto;
            -webkit-transform:rotate(3deg);   
               -moz-transform:rotate(3deg);  
                 -o-transform:rotate(3deg);
                    transform:rotate(3deg);
        }
        
        /* Curled corners */

        .curled {
            border:1px solid #efefef; 
            -moz-border-radius:0 0 120px 120px / 0 0 6px 6px;    
                 border-radius:0 0 120px 120px / 0 0 6px 6px;
        }
      
        .curled:before,
        .curled:after { 
            bottom:12px;
            left:10px;
            height:55%;
            max-width:200px;
            -webkit-box-shadow:0 8px 16px rgba(0, 0, 0, 0.4); 
               -moz-box-shadow:0 8px 16px rgba(0, 0, 0, 0.4);
                    box-shadow:0 8px 16px rgba(0, 0, 0, 0.4);
            -webkit-transform:skew(-8deg) rotate(-4deg);
               -moz-transform:skew(-8deg) rotate(-4deg);
                 -o-transform:skew(-8deg) rotate(-4deg);
                    transform:skew(-8deg) rotate(-4deg);
        } 
      
        .curled:after { 
            right:10px; 
            left:auto;
            -webkit-transform:skew(8deg) rotate(4deg); 
               -moz-transform:skew(8deg) rotate(4deg);     
                 -o-transform:skew(8deg) rotate(4deg); 
                    transform:skew(8deg) rotate(4deg);
        }
        
        /* Perspective */

        .perspective:before {
            left:80px;
            bottom:8px;
            width:50%;
            height:35%;
            max-width:200px;
            -webkit-box-shadow:-80px 5px 10px rgba(0, 0, 0, 0.4);
               -moz-box-shadow:-80px 5px 8px rgba(0, 0, 0, 0.4);
                    box-shadow:-80px 5px 8px rgba(0, 0, 0, 0.4);
            -webkit-transform:skew(50deg);
               -moz-transform:skew(50deg);
                 -o-transform:skew(50deg);
                    transform:skew(50deg);
            -webkit-transform-origin:0 100%;
               -moz-transform-origin:0 100%;
                 -o-transform-origin:0 100%;
                    transform-origin:0 100%;
        }
        
        .perspective:after {
            display:none;
        }
        
        /* Raised shadow - no pseudo-elements needed */
        
        .raised {
            -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 0, 0, 0.1) inset;
               -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        }
        
        /* Curved shadows */

        .curved:before {
            top:10px;
            bottom:10px;
            left:0;
            right:50%;
            -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
            -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
            box-shadow:0 0 15px rgba(0,0,0,0.6);
            -moz-border-radius:10px / 100px;
            border-radius:10px / 100px;
        }
        
        .curved-vt-2:before {
            right:0;
        }
        
        .curved-hz-1:before {
            top:50%;
            bottom:0;
            left:10px;
            right:10px;
            -moz-border-radius:100px / 10px;
            border-radius:100px / 10px;
        }

        .curved-hz-2:before {
            top:0;
            bottom:0;
            left:10px;
            right:10px;
            -moz-border-radius:100px / 10px;
            border-radius:100px / 10px;
        }
        
        /* Rotated box */
        
        .rotated {
            -webkit-box-shadow:none;
               -moz-box-shadow:none;
                    box-shadow:none;
            -webkit-transform:rotate(-3deg);    
               -moz-transform:rotate(-3deg);   
                 -o-transform:rotate(-3deg);
                    transform:rotate(-3deg);
        }
        
        .rotated :first-child:before {
            content:"";
            position:absolute;
            z-index:-1;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background:#fff;
            -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 0, 0, 0.1) inset;
               -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        }


.sombra-inset{
  -webkit-box-shadow: inset 0px 0px 14px -4px rgba(204,204,204,1);
-moz-box-shadow: inset 0px 0px 14px -4px rgba(204,204,204,1);
box-shadow: inset 0px 0px 14px -4px rgba(204,204,204,1);
}