body,
html {
  font-family: 'Roboto Condensed' !important;
  font-size: 16px;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: 'Hind Guntur', sans-serif !important;
}
a:hover {
  color: #662d91;
}
.btn-default {
  color: #333;
  background-color: #fff !important;
  border-color: #ccc;
}
.fondo-blanco {
  background: #fff;
  padding: 10px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.thumb-home {
  width: 120px !important;
  height: 100px !important;
}
.slide-box {
  background: #fff !important;
  max-height: 500px;
  height: 500px;
  margin-top: 15px;
}
.slide-box img {
  width: 100%;
  height: 100% !important;
  opacity: 0.8;
}
.slide-box h3 {
  position: absolute;
  top: 10%;
  padding: 10px;
  z-index: 999;
  color: #fff;
  font-size: 20px;
  background: #489cea;
  background: -moz-linear-gradient(top, #489cea 0%, #1f7be5 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #489cea), color-stop(100%, #1f7be5));
  background: -webkit-linear-gradient(top, #489cea 0%, #1f7be5 100%);
  background: -o-linear-gradient(top, #489cea 0%, #1f7be5 100%);
  background: -ms-linear-gradient(top, #489cea 0%, #1f7be5 100%);
  background: linear-gradient(to bottom, #489cea 0%, #1f7be5 100%);
}
.slide-box p {
  padding: 10px;
  color: #fff;
}
.slide-box div.bg-blue {
  margin-top: -180px;
  position: relative;
  background: #489cea;
  background: -moz-linear-gradient(top, #489cea 0%, #1f7be5 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #489cea), color-stop(100%, #1f7be5));
  background: -webkit-linear-gradient(top, #489cea 0%, #1f7be5 100%);
  background: -o-linear-gradient(top, #489cea 0%, #1f7be5 100%);
  background: -ms-linear-gradient(top, #489cea 0%, #1f7be5 100%);
  background: linear-gradient(to bottom, #489cea 0%, #1f7be5 100%);
  margin-bottom: 10px;
}
.slide-box div.bg-blue > button {
  background: #fff !important;
}
.bg-central {
  margin: 80px auto;
  background: #fff;
  padding: 20px;
}
.bg-central .col-md-3 {
  border-left: 1px dashed #ddd;
}
.barra-social {
  margin-top: 20px;
}
.barra-social a {
  text-decoration: none;
}
.barra-social a span:before {
  font-size: 40px;
}
.color-fb {
  color: #3b5998;
}
.color-tw {
  color: #55acee;
}
.color-ut {
  color: #b00;
}
.separador-largo {
  border-top: 1px dashed #ddd;
  margin: 20px;
}
/******************CSS ROBADOS********************/
.fondo-menu-top {
  padding: 10px;
  background: #489cea;
  background: -moz-linear-gradient(top, #489cea 0%, #1f7be5 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #489cea), color-stop(100%, #1f7be5));
  background: -webkit-linear-gradient(top, #489cea 0%, #1f7be5 100%);
  background: -o-linear-gradient(top, #489cea 0%, #1f7be5 100%);
  background: -ms-linear-gradient(top, #489cea 0%, #1f7be5 100%);
  background: linear-gradient(to bottom, #489cea 0%, #1f7be5 100%);
}
.hide-bullets {
  list-style: none;
  margin-left: -40px;
  margin-top: 20px;
}
.thumbnail {
  padding: 0;
}
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  width: 100%;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background: transparent !important;
}
.carousel-control.left {
  right: auto;
  left: 0;
  background: transparent !important;
}
/***************CALENDARIO*******************/
.bg-calendar-home {
  background: #6347d1;
  background: -moz-radial-gradient(center, ellipse cover, #6347d1 0%, #362189 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #6347d1), color-stop(100%, #362189));
  background: -webkit-radial-gradient(center, ellipse cover, #6347d1 0%, #362189 100%);
  background: -o-radial-gradient(center, ellipse cover, #6347d1 0%, #362189 100%);
  background: -ms-radial-gradient(center, ellipse cover, #6347d1 0%, #362189 100%);
  background: radial-gradient(ellipse at center, #6347d1 0%, #362189 100%);
  padding: 40px;
  color: #fff;
}
.bg-calendar-home::before {
  content: '';
  position: absolute;
  top: 100px;
  left: 45px;
  height: 650px;
  width: 2px;
  background: #fff;
}
.calendar-home-event {
  position: relative;
  height: 50px;
  margin-top: 50px;
}
.ch-border {
  border-bottom: 1px solid rgba(237,231,246,0.48);
  margin: 0px 15px;
}
.ch-entrada {
  color: #50b3ff;
  font-size: 0.9em;
  font-weight: 600;
}
.ch-linea {
  padding: 15px;
  font-size: 0.95em;
}
.ch-tipo {
  margin-top: -75px;
  color: #50b3ff;
  font-size: 0.9em;
  font-weight: 600;
}
.ch-btn-up {
  text-align: center;
  position: absolute;
  left: 45%;
  top: 84%;
}
.ch-btn-down {
  text-align: center;
  position: absolute;
  left: 35%;
  top: 84%;
}
.ch-hoy {
  padding: 10px;
  border-bottom: 1px solid rgba(237,231,246,0.48);
}
.ch-hoy h1 {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  font-size: 24px;
  text-align: center;
}
.calendar-home-footer {
  background: #fff;
  padding: 20px;
}
.calendar-home-footer h3 {
  text-align: center;
  color: #50b3ff;
  font-size: 20px;
}
.calendar-home-footer h3 span {
  background: #50b3ff;
  padding: 0px 10px;
/* margin: 10px; */
  line-height: 2;
  color: #000;
}
.btn-morado {
  color: #fff !important;
  background-color: #5238b5 !important;
  border-color: #5238b5;
}
.h1-mapa {
  font-family: 'Raleway';
  font-size: 24px;
  text-align: center;
  border-bottom: 2px dashed #2587cf;
  padding: 13px;
}
.btn-xs,
.btn-group-xs > .btn {
  font-size: 11px !important;
  line-height: 0.9 !important;
  padding: 6px 9px !important;
/* border-radius: 3px; */
}
.scrollable .scrollable-bar {
  position: relative !important;
/* box-sizing: border-box; */
  opacity: 0;
  background-color: #f0f0f0;
  background-color: rgba(255,255,255,0.8);
  border: 0px !important;
}
/* Start of Column CSS */
#container2 {
  clear: left;
  float: left;
  width: 100%;
  overflow: hidden;
  background: #fff;
/* column 2 background colour */
}
#container1 {
  float: left;
  width: 100%;
  position: relative;
  right: 50%;
  background: #412a9b;
/* column 1 background colour */
}
#col1 {
  float: left;
  width: 50%;
  position: relative;
  left: 50%;
  overflow: hidden;
}
#col2 {
  float: left;
  width: 50%;
  position: relative;
  left: 50%;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  #container2 {
    clear: left;
    float: left;
    width: 100%;
    overflow: hidden;
    background: #fff;
/* column 2 background colour */
  }
  #container1 {
    float: left;
    width: 100%;
    position: relative;
    right: 50%;
    background: #412a9b;
/* column 1 background colour */
  }
  #col1 {
    float: left;
    width: 100%;
  }
  #col2 {
    float: left;
    width: 100%;
  }
}
/* --> */
