 .scrollpanel {
  width: 100%;
  height: 220px;
  border: 1px solid #ccc;

}
.scrollpanel .sp-scrollbar {
  width: 10px;
  background-color: #ccc;
  cursor: pointer;
}
.scrollpanel .sp-scrollbar .sp-thumb {
  background-color: #aaa;
  transition: height 0.2s ease-in-out;
}
.scrollpanel .sp-scrollbar.active .sp-thumb {
  background-color: #999;
}
.no2 .sp-scrollbar,
.no4 .sp-scrollbar {
  margin: 4px;

}
.scr-calendario
{
  border:none !important;
  background: transparent !important;
  height:600px !important;
  margin-top: -20px;
}
.no2,
.no4 {
  border:none !important;
  background: transparent !important;
  height:450px !important;
}
.no3 .sp-scrollbar,
.no4 .sp-scrollbar {
  border-radius: 5px;
}
.no3 .sp-scrollbar .sp-thumb,
.no4 .sp-scrollbar .sp-thumb {
  border-radius: 5px;
}
.foo {
  min-height: 30px;
  background-color: #eee;
  border: 1px solid #ccc;
  margin: 1em;
  padding: 1.1em;
  font-size: 0.85em
}
.foo img{
  min-height: 46px
  }

  .foo:hover {
    background: rgba(251, 186, 25,0.2);
    border: 1px dashed rgba(251, 186, 25,0.8);
  }
@media screen and (max-width: 1200px){

  .scrollpanel {

  height: 326px;
  
}
  
}