<div class="container">
	<div class="row">
		<div class="col-md-12">
			<section class="shadow-z-3 " ng-init="Accesos='herramientas'" style="overflow:hidden;">
				<div class="acceso-titulo">Accesos directos
			
				</div>

				<div class="acceso-fondo " >
				   <div class="row " ng-switch="Accesos">
				    
				     	
				    
					<div class="col-sm-2"><a href="http://tictucuman.net/red-escuelas-tucuman/" target="_blank"><img src="images/red-escuelas.png" alt="" class="img-responsive"></a></div>
					<div class="col-sm-2"><a href="http://docentes.tictucuman.net/login.php" target="_blank"><img src="images/Panel-Docente.png" alt="" class="img-responsive"></a></div>
					<!-- <div class="col-md-3"><a href="http://www.formaciondeformadores.net/moodle/" target="_blank"><img src="images/plataforma.png" alt="" class="img-responsive"></a></div> -->
					<div class="col-sm-2"><a href="http://director.tictucuman.net/" target="_blank"><img src="images/Panel-Director.png" alt="" class="img-responsive"></a></div>
					
					<div class="col-sm-2"><a href="http://est.tictucuman.net/" target="_blank"><img src="images/estadisticas.png" alt="" class="img-responsive"></a></div>
 							
				
				
					<div class="col-sm-2"><a href="http://experiencias.tictucuman.net/" target="_blank"><img src="images/Editorial-exp.png" alt="" class="img-responsive"></a></div>
			<!-- 		<div class="col-sm-2"><a href="http://biblioteca.tictucuman.net/" target="_blank" ><img src="images/biblioteca.png" alt="" class="img-responsive" style="padding-top: 10px"></a></div> -->
					<div class="col-sm-2"><a href="http://conectandoescuelas.tictucuman.net/" target="_blank"><img src="images/conectando-escuelas.png" alt="" class="img-responsive"></a></div>
					
					<div class="col-sm-2"><a href="http://www.bancos.tictucuman.net/" target="_blank"><img src="images/bancos.png" alt="" class="img-responsive"></a></div>
						

					<!-- 	
						<div class="col-sm-2"><a href="http://formaciondeformadores.net/moodle/" target="_blank"><img src="images/plataforma.png" alt="" class="img-responsive"></a></div> -->
					<div class="col-sm-2"><a href="http://www.tictucuman.net/jovenesconectados/" target="_blank"><img src="images/jovenes.png" alt="" class="img-responsive"></a></div>
					<div class="col-sm-2"><a href="http://tictucuman.net/robotic/" target="_blank" style="padding-top: 15px"><img src="images/acceso-robotica.png" alt="" class="img-responsive"></a></div>
					
					<!-- <div class="col-sm-2"><a href="http://docs.tictucuman.net/login.php" target="_blank"><img src="images/notas.png" alt="" class="img-responsive"></a></div> -->
							
						

					</div>
				</div>
			</section>
		</div>
	</div>
</div>  