        <div >
        <div class="cal-ahora" >
        <!-- <div class="row">
        <div class="col-xs-12 col-sm-12 col-sm-4"> -->
         <time datetime="{{hoy[0].ag_fecha}}" class="icon hidden-xs">
              <em>{{hoy[0].ag_fecha | date:'EEEE'}}</em>
              <strong>{{hoy[0].ag_fecha | date:'MMMM'}}</strong>
              <span>{{hoy[0].ag_fecha | date:'d'}}</span>
          </time>
<!--           </div>

        <div class="col-xs-12 col-sm-12 col-md-8"> -->
         <div class="cal-evento" >
           <div class="cal-evento-linea">{{hoy[0].ag_linea_accion }}</div>
           <div class="cal-evento-tipo">{{hoy[0].ag_tipo_visita }}</div>
           <div class="cal-evento-hora"><strong>comienza: </strong>{{hoy[0].ag_entrada }} - <strong>termina: </strong>{{hoy[0].ag_salida }}  </div>
           <div class="cal-evento-sede">{{hoy[0].Nombre }}</div>
         </div>


     <a href="javascript:void(0)" class="btn btn-warning btn-xs btn-fab  btn-agenda-detalle"  tooltip-placement="bottom" uib-tooltip="más detalles" ng-click="open(lg,hoy[0].ag_id)"><i class="fa fa-list-alt"></i></a>
 
                   
                 
   
       
     <!--    </div>
        </div> -->
        </div>
        <div class="cal-hoy" >
                    <div class="list-group" ng-repeat="dia in hoy | limitTo: 6">
    <div class="list-group-item" >
        <div class="row-action-primary">
            <div class="cal-lista-dia verde"><span class="fa fa-arrow-circle-right verde"></span> {{dia.ag_entrada}}</div>
            <div class="cal-lista-mes rojo"><span class="fa fa-arrow-circle-left rojo"></span> {{dia.ag_salida}}</div>
        </div>
        <div class="row-content">
            <div class="least-content badge-linea"><a href="javascript:void(0)" class=""  tooltip-placement="bottom" uib-tooltip="más detalles" ng-click="open(lg,dia.ag_id)"><i class="fa fa-list-alt"></i> {{dia.ag_linea_accion }}</a></div>
            <h4 class="list-group-item-heading bagde-tipo">{{dia.ag_tipo_visita }}</h4>
            <p class="list-group-item-text badge-sede">{{dia.Nombre }}</p>

        </div>

    </div>
      <div class="list-group-separator"></div>
   
  
</div>
        </div>
        </div>
   <!--      <div class="cal-semana"></div>
        <h1>{{evento.Nombre}}</h1>
      <ul class="panel callout radius" ng-controller="CalListCtrl">
                <li ng-repeat="data in evento">
                    <p>Id: {{ data.ag_id }} Nombre: {{ data.Nombre }} </p>
                </li>
            </ul> -->