<div class="noticia-sidebar" >
    <!-- noticia-sidebar envuelve todo el codigo, hasta el final  -->
<div class="titulo-inscripcion linea-separador-inscripcion">Formulario de Inscripción</div>

<!-- ****************************************************** -->
<!-- se realizan los controles y mensajes posibles al inscribirse -->

<div class="well inscripcion-form" ng-show="resultado == 0" > 
     <button type="button" ng-click="limpiar()" class="close" ><span aria-hidden="true" style="color:#000">&times;</span></button>
    <div class="inscripcion-titulo-error"> <span class="fa fa-times-circle-o color-rojo" aria-hidden="true"></span> <br>Datos incorrectos  <p class="help-block">Verifique sus datos de acceso al panel docente. Para ingresar haga clic <a href="http://docentes.innovacioneducativa.gob.ar/login.php" target="_blank">Aquí.</a> </p></div>
</div>

<div class="well inscripcion-form" ng-show="resultado == 1">
     <button type="button" ng-click="limpiar()" class="close" ><span aria-hidden="true" style="color:#000">&times;</span></button>
    <div class="inscripcion-titulo-suspension"><span class="fa fa-exclamation-triangle color-naranja" aria-hidden="true"></span> <br>Usted se encuentra momentáneamente suspendida/o para realizar inscripciones
    <p class="help-block">La suspensión momentanea se debe a la reincidencia de abandonos o inscripciones sin asistir a las capacitaciones</p> 
    <ul>
        <li><strong>Inicio de suspensión: {{fecha_suspension}} </strong></li>
        <li><strong>Fin de suspensión: {{fecha_alta}}</strong></li>
    </ul>
    <p class="help-block">Para ingresar al panel docente haga clic <a href="http://docentes.innovacioneducativa.gob.ar/login.php" target="_blank">Aquí.</a> </p>
    </div>
</div>
              
<div class="well inscripcion-form" ng-show="resultado == 2">
     <button type="button" ng-click="limpiar()" class="close" ><span aria-hidden="true" style="color:#000">&times;</span></button>
    <div class="inscripcion-titulo-1capa"><span class="fa fa-exclamation-triangle color-naranja" aria-hidden="true"></span><br> 
        Sólo se puede cursar <br> una capacitacion por vez
        <p class="help-block" >Actualmente se encuentra cursando la capacitación:</p>
          <ul>
            <li>{{cursando1}}</li>
          </ul>
        <p class="help-block">Para ingresar al panel docente haga clic <a href="http://docentes.innovacioneducativa.gob.ar/login.php" target="_blank">Aquí.</a> </p>
    </div>
</div>

<div class="well inscripcion-form" ng-show="resultado == 3" >
    <button type="button" ng-click="limpiar()" class="close" ><span aria-hidden="true" style="color:#000">&times;</span></button>
    <div class="inscripcion-titulo-ok"><span class="fa fa-check color-verde" aria-hidden="true"></span><br> 
      La inscripcion se realizó correctamente
      <p class="help-block" >El código de la inscripción realizada es <strong>COD{{codigo}}</strong></p>
      <ul>
          <li><strong>Capacitación: {{capacitacion}}</strong></li>
          <li><strong>Fecha de inicio: {{fecha_ini}}</strong></li>
          <li><strong>Horario: {{horario}}</strong></li>
          <li><strong>Lugar: {{lugar}}</strong></li>
      </ul>
      <p class="help-block">Para ingresar al panel docente haga clic <a href="http://docentes.innovacioneducativa.gob.ar/login.php" target="_blank">Aquí.</a> </p>                
    </div>
</div>

<!--  -->
<div class="well inscripcion-form" ng-show="resultado == 4">
    <button type="button" ng-click="limpiar()" class="close" ><span aria-hidden="true" style="color:#000">&times;</span></button>
    <div class="inscripcion-titulo-suspension"><span class="fa fa-exclamation-triangle color-naranja" aria-hidden="true"></span> <br> 
    El cupo de este curso está completo
    <p class="help-block">Consulte en <a href="/desarrollo-profesional-tic" target="_blank">Capacitaciones</a> la oferta disponible </p>
    <p class="help-block">Para ingresar al panel docente haga clic <a href="http://docentes.innovacioneducativa.gob.ar/login.php" target="_blank">Aquí.</a> </p>                
    </div>
</div>

<div class="well inscripcion-form" ng-show="resultado == 5" >
    <button type="button" ng-click="limpiar()" class="close" ><span aria-hidden="true" style="color:#000">&times;</span></button>
    <div class="inscripcion-titulo-2capa"><span class="fa fa-exclamation-triangle color-naranja" aria-hidden="true"></span><br> 
    Ya registra una inscripción para este mismo curso
    <p class="help-block">Capacitaciones en las que se encuentra inscripto:</p>
        <ul>
            <li><strong>Fecha de inscripción: {{fecha_ins | dateToISO | date: 'd-M-yyyy'}}</strong></li>
            <li><strong>Código de inscripción: </strong> COD{{codigo}}</li>
        </ul>
    <p class="help-block">Para ingresar al panel docente haga clic <a href="http://docentes.innovacioneducativa.gob.ar/login.php" target="_blank">Aquí.</a> </p>                               
    </div>
</div>

<div class="well inscripcion-form" ng-show="resultado == 12" >
    <button type="button" ng-click="limpiar()" class="close" ><span aria-hidden="true" style="color:#000">&times;</span></button>
    <div class="inscripcion-titulo-2capa"> <span class="fa fa-exclamation-triangle color-naranja" aria-hidden="true"></span><br> 
    La inscripción no puede realizarse
    <p class="help-block">Usted ya aprobó esta capacitación en ediciones anteriores.</p>
    <p class="help-block">Sugerimos la lectura del <a href="">Protocolo Reglamentario</a></p> 
    </div>
</div>

<!-- ****************************************************** -->
<!-- Formulario de Inscripcion -->

<div class="" ng-show="resultado == 20"  >
<form class="" ng-submit="Inscribir(articuloDatos[0].comision)" >
 
  <fieldset>
  <!-- Nota: fieldset, para deshabilitar cualquier campo de formulario que se encuentre en su interior. -->
                    
      <div class="padding-top-15">
        <span class="help-block">Estimada/o Docente: Para inscribirse en el curso debe ingresar su DNI y contraseña del Panel Docente. 
                        Si aún no está registrado, regístrese haciendo clic  <a href="http://docentes.innovacioneducativa.gob.ar/registro.php" target="_blank">Aquí.</a></span>
      </div>
      <div class="form-group " >
          <label for="dni_doc" class="control-label">DNI</label>
          <input type="text" class="form-control" id="DNI" name="DNI" ng-model="InsData.DNI" placeholder=""  required >
          <span class="help-block">Ingrese el DNI sin puntos</span>
      </div>
      <div class="form-group">
          <label for="pass_don" class="control-label">Contraseña</label>
          <input type="password" class="form-control" id="pass_doc" name="password" ng-model="InsData.password" placeholder="" required>
          <br>
      </div>
                      
      <span class="help-block">Al Inscribirse confirma haber leido y estar de acuerdo con el Protocolo Reglamentario. <a href="">Leer Protocolo</a></span>                     
      <div class="form-group">
          <button type="submit" class="btn btn-block btn-info ">Inscribirse</button>
      </div>
  </fieldset>
</form>
</div> <!-- Cierro div para ocultar formulario -->
</div> <!-- cierro noticia-sidebar -->