<div class="noticia-relacionado">
	<div ng-show="articuloDatos[0].nav == 2">
		<div class="insc-cerrada">
			<span class="fa fa-exclamation-triangle color-blanco" aria-hidden="true"></span>
			<br>{{publicar[0].mensaje}}
		</div>
		<div class="margin-top-10 linea-separador"></div>
	</div>

	<div ng-show="publicar[0].muestroCapa == 1">
		<div class="titulo-inscripcion">Más Capacitaciones</div>
	  	<div class="color-relacionado" ng-repeat="noticia in publicar | limitTo:3 " >
		   <a href="/articulo/{{noticia.articulo}}">
		    <div class="row">
				<div class="col-md-12">
					<div class="linea-separador"></div>
				    
				    <div class="titulo-relacionado"><p><strong>{{noticia.titulo}}</strong></p></div>
					<img src="{{noticia.thumb}}" alt="" class="img-responsive">
	 				<div class="copete">{{noticia.copete}}</div>
				</div>		    
			</div>
		  </a>  	
		</div> <!-- cierro color-relacionado --> 
	</div>

	<div ng-show="publicar[0].muestroCapa == 2">
		<div class="titulo-inscripcion">Noticias Relacionadas</div>
	  	<div class="color-relacionado" ng-repeat="noticia in publicar | limitTo:3 " >
		   <a href="/articulo/{{noticia.articulo}}">
		    <div class="row">
				<div class="col-md-12">
					<div class="linea-separador"></div>
				    
				    <div class="titulo-noticia-relacionado"><p><strong>{{noticia.titulo}}</strong></p></div>
					<img src="{{noticia.thumb}}" alt="" class="img-responsive">
	 				<div class="copete-noticia">{{noticia.copete}}</div>
				</div>		    
			</div>
		  </a>  	
		</div> <!-- cierro color-relacionado --> 
	</div>
	<!-- <div ng-controller="SuscripcionCtrl" ng-include="template.formulario">   	          
              		</div>	 -->

	<div ng-show="publicar[0].muestroCapa == 0">
		<div class="row">
			
			<div class="col-md-12 frm-suscripcion" ng-controller="SuscripcionCtrl">
				<!-- <div ng-show="alta_nuevo">	 -->
				<form class=""  ng-submit="Suscribir()" ng-show="alta_nuevo" >
        				<div class="titulo-suscripcion">Formulario de suscripción</div>
						<!-- <div class="linea-separador"></div> -->
						
       					<span class="help-block">Reciba en su casilla novedades, ofertas de capacitación y noticias de la Coordinación de Innovación Educativa.</span>
				        <div class="form-group">
				            <label for="nombre" class="control-label">Nombre *</label>
				            <input type="text" class="form-control" id="nombre" name="nombre" ng-model="sData.nombre" placeholder="Nombre y Apellido " required>
				        </div>
				        <div class="form-group">
				            <label for="dni" class="control-label">Documento</label>
				                <input type="text" class="form-control" id="dni" name="dni" ng-model="sData.dni" placeholder="Número de documento sin puntos">
				        </div>
		               	<div class="form-group">
				            <label for="mail" class="control-label">E-Mail *</label>
				                <input type="email" class="form-control" id="correo" name="correo" ng-model="sData.correo" placeholder="" required>
		        		</div>
      
				        <div class="form-group">
				            <div class="col-lg-10 col-lg-offset-2">
				                <button type="submit" class="btn btn-info" >Suscribirse</button>
				            </div>
				        </div>
						<div class="linea-separador"></div>
				
				</form> <!-- Fin de formulario de suscripción -->
				<!-- </div> -->

				<!--******* Mensajes de suscripcion	************* -->
				<!--  -->
				<div ng-show="alta_ok">
					<div class="sus-ok well">
						<button type="button" ng-click="limpiar()" class="close"><span aria-hidden="true" style="color:#000">&times;</span></button>
						<span class="fa fa-check color-verde" aria-hidden="true"></span><p>La suscripción se realizó correctamente!</p>
					</div>
				</div>
				<!--  -->
				<div ng-show="alta_mal">
					<div class="sus-error well">
						<button type="button" ng-click="limpiar()" class="close" ><span aria-hidden="true" style="color:#000">&times;</span></button>
						<span class="fa fa-times-circle color-rojo" aria-hidden="true"></span><p>La suscripción no pudo realizarse. Reinicie su navegador e intente nuevamente</p>
					</div>
				</div>
				<!--  -->
				<div ng-show="alta_repe">
					<div class="sus-repe well">
						<button type="button" ng-click="limpiar()" class="close" ><span aria-hidden="true" style="color:#000">&times;</span></button>
						<span class="fa fa-exclamation-triangle color-naranja" aria-hidden="true"></span><p>Usted ya se encuentra suscripto!. <br><span class="help-block">Si no esta recibiendo mensajes verifique su carpeta de correo no deseado y agregue la dirección <a>novedades@innovacioneducativa.gob.ar</a> a su lista de contactos.</span></p>
					</div>
				</div>	
				
			</div>	<!-- Cierro col-md-12 -->	    
				
		</div> <!-- cierro row -->
	</div> <!-- Cierro div publicar suscripción -->

</div> <!-- cierro `div principal de noticia-relacionado -->

