 <div class="container">
 	<div class="row">
 		<div class="col-md-12" >
        <!-- muestra resumen/copete de la noticia -->
        <div class="noticia-copete">{{noticia[0].subtitulo}} 
            <a href="#" class="pull-right color-white-noticia" socialshare="" socialshare-provider="facebook" socialshare-url="http://innovacioneducativa.gob.ar/articulo/{{noticia[0].pg_id}}">
             <span class="flaticon-facebook-logo-button"></span>
            </a>
            <a href="#" class="pull-right color-white-noticia" socialshare="" socialshare-provider="twitter" socialshare-url="http://innovacioneducativa.gob.ar/articulo/{{noticia[0].pg_id}}">
             <span class="flaticon-twitter-logo-button"></span>
            </a>
        </div>
      <div class="well">
        <h1 class="noticia-titulo">{{noticia[0].pg_title}}</h1>
        <div class="noticia-datos">
             <span class="mdi-action-today"></span>    {{noticia[0].Fecha | dateToISO | date:'EEEE' }} {{noticia[0].Fecha | dateToISO | date:'d' }} de {{noticia[0].Fecha | dateToISO | date:'MMMM' }} de {{noticia[0].Fecha | dateToISO | date:'y' }}
        </div>

        <div class="row">
          <!-- Desarrollo de la noticia -->
          <div class="col-md-8">
                  <div class="noticia-cont" ng-bind-html ="noticia[0].pg_cont | trustAsHTML">
                  </div>
          </div>

          <!-- A continuacion muestro:
           si hay cupo: Inscripcion a la capacitacion
           si no hay cupo y
              hay otras capacitaciones: mensaje y otras capacitaciones
              no hay otras capacitaciones: mensaje y suscripcion -->
              <!-- operador ternario condicion?accion_si_verdadero:accion_si_falso -->
           <div class="col-md-4">
              <div ng-controller="InscripcionCtrl" ng-include="(capacitacion[0].estado == 1)?template.formulario: template.relacionados">                
              </div>

          </div> <!-- cierro col-md-4 -->

        </div>
      </div>

    </div> <!-- cierro col-md-12 -->
  </div> <!-- cierro row -->
</div> <!-- Cierro div container -->

             