<div class="noticia-relacionado">
	<div ng-show="articuloDatos[0].nav == 2">
		<div class="insc-cerrada">
			<span class="fa fa-exclamation-triangle color-blanco" aria-hidden="true"></span>
			<br>{{publicar[0].mensaje}}
		</div>
		<div class="margin-top-10 linea-separador"></div>
	</div>

	<div ng-show="publicar[0].muestroCapa == 1">
		<div class="titulo-inscripcion">Más Capacitaciones</div>
	  	<div class="color-relacionado" ng-repeat="noticia in publicar | limitTo:3 " >
		   <a href="/articulo/{{noticia.articulo}}">
		    <div class="row">
				<div class="col-md-12">
					<div class="linea-separador"></div>
				    
				    <div class="titulo-relacionado"><p><strong>{{noticia.titulo}}</strong></p></div>
					<img src="{{noticia.thumb}}" alt="" class="img-responsive">
	 				<div class="copete">{{noticia.copete}}</div>
				</div>		    
			</div>
		  </a>  	
		</div> <!-- cierro color-relacionado --> 
	</div>

	<div ng-show="publicar[0].muestroCapa == 2">
		<div class="titulo-inscripcion">Noticias Relacionadas</div>
	  	<div class="color-relacionado" ng-repeat="noticia in publicar | limitTo:3 " >
		   <a href="/articulo/{{noticia.articulo}}">
		    <div class="row">
				<div class="col-md-12">
					<div class="linea-separador"></div>
				    
				    <div class="titulo-noticia-relacionado"><p><strong>{{noticia.titulo}}</strong></p></div>
					<img src="{{noticia.thumb}}" alt="" class="img-responsive">
	 				<div class="copete-noticia">{{noticia.copete}}</div>
				</div>		    
			</div>
		  </a>  	
		</div> <!-- cierro color-relacionado --> 
	</div>

</div>  

