<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="boxme container-resaltar" >
    <div class="row"> 
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
        <div class="well margin-top-15">
        <div class="loading-spiner-holder" data-loading ><div class="loading-spiner"><double-bounce-spinner></double-bounce-spinner></div></div>

       <div><a href="javascript:void(0)" class="btn btn-danger btn-fab btn-raised mdi-content-clear pull-right" ng-click="suscribir = !suscribir; pie = !pie; limpiar()"></a></div> 

             <form class="form-horizontal" ng-submit="Suscribir()" ng-show="alta_nuevo">
    <fieldset>
        <legend>Formulario de suscripción</legend>
       <span class="help-block">Reciba en su casilla novedades, ofertas de capacitación y noticias de la Coordinación Provincial TIC Tucumán.</span>
        <div class="form-group">
            <label for="nombre" class="col-lg-2 control-label">Nombre *</label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="nombre" name="nombre" ng-model="sData.nombre" placeholder="Nombre y Apellido " required>
            </div>
        </div>
        <div class="form-group">
            <label for="dni" class="col-lg-2 control-label">Documento</label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="dni" name="dni" ng-model="sData.dni" placeholder="Número de documento sin puntos">
            </div>
        </div>
            <div class="form-group">
            <label for="esc" class="col-lg-2 control-label">Escuela</label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="esc" name="esc" ng-model="sData.esc" placeholder="">
            </div>
        </div>
               <div class="form-group">
            <label for="mail" class="col-lg-2 control-label">E-Mail *</label>
            <div class="col-md-8">
                <input type="email" class="form-control" id="correo" name="correo" ng-model="sData.correo" placeholder="" required>
            </div>
        </div>
      
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                
                <button type="submit" class="btn btn-info" >Suscribirse</button>
            </div>
        </div>
    </fieldset>
</form>

<div ng-show="alta_ok"><div class="sus-ok"><span class="mdi-navigation-check"></span><p>La suscripción se realizó correctamente!</p></div></div>
<div ng-show="alta_mal"><div class="sus-error"><span class="mdi-navigation-cancel"></span><p>La suscripción no pudo realizarse, Reinicie su navegador e intente nuevamente</p></div></div>
<div ng-show="alta_repe"><div class="sus-repe"><span class="mdi-alert-warning"></span><p>Usted ya se encuentra suscripto!.<small>Si no esta recibiendo mensajes verifique su carpeta de correo no deseado y agregue la dirección <a>novedades@tictucuman.net</a> a su lista de contactos</small></p></div></div>



        </div>
           
        </div>
    </div>
</div>

		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			
		</div>
	</div>
</div>