<div class="container">

  <div class="row">
	<div class="col-md-12">
	<div class="well">
		<div class="row">
			<div class="col-md-4">
				<div style="padding-top: 18px"><img src="images/secciondesarrollo.png" class="img-responsive"></div>
			</div>
			<div class="col-md-8">
				<p class="desc-seccion">Desde el <strong>Ministerio de Educación</strong>, a través de su <strong>Coordinación de Educación Digital</strong>, buscamos generar un espacio de formación destinado a docentes de todos los niveles, modalidades, cargos y áreas del sistema educativo, donde las tecnologías de la información y la comunicación no solo estén presentes como un aspecto ilustrativo.
Así es como nace el <strong>Área de Innovación Pedagógica</strong>, la cual se fundamenta en propuestas de espacios e instancias de aprendizaje, cuya finalidad es que los destinatarios mencionados puedan acceder a  través de diferentes herramientas tecnológicas, a nuevos conocimientos y saberes para fortalecer sus prácticas docentes.</p>	
				<div class="col-md-offset-2">
					<a href="http://docentes.innovacioneducativa.gob.ar/login.php" class="btn btn-info btn-raised btn-sm" style="margin-right:10px" target="_blank">Panel Docente</a>	
					<a href="http://docentes.innovacioneducativa.gob.ar/pautas.php" class="btn btn-info btn-raised btn-sm" style="margin-right:10px" target="_blank">Protocolo Reglamentario</a>
					<a href="/certificacion" class="btn btn-info btn-raised btn-sm" style="margin-right:10px" target="_blank">Certificación</a>		
				</div>	
			</div>

		</div>
		<hr>
		
  <div class="row">

  <div class="col-md-12">
  	<div class="titulo-listado-seccion">
  	<div class="row">
  		<div class="col-md-4">
  			<h1>Oferta de Capacitaciones 2016 <br> Segundo Semestre</h1>
  		</div>
  		<div class="col-md-1">
  			<i class="fa fa-laptop fa-4x" aria-hidden="true"></i>
  		</div>
  		<div class="col-md-7">

  				<p>
					<strong>A tener en cuenta: </strong>	
  				Para realizar las capacitaciones es requisito imprescindible asistir con netbook o notebook a los encuentros presenciales  y para las actividades virtuales debe contar con conexión a internet e ingresar por lo menos dos veces a la semana a la Plataforma para realizar las actividades solicitadas.
  		</p>
  		</div>
  	</div>
  	
  	
  	</div>
  </div>
  	<div class="col-md-12">
  			  	<div class="" ng-repeat="capa in capacitacion " >
			<div class="listar_capas" ng-click="funciondesplegar(capa.id, capa.capa.comision)">
			{{capa.capa.nombre}}<a href="" ng-show="capa.capa.comision != 0" class="btn btn-abiertas btn-xs "> Inscripciones Abiertas</a><a href="" ng-show="capa.capa.comision == 0" class="btn btn-cerradas btn-xs "> Inscripciones Cerradas</a>

			</div>
			<div uib-collapse="!capa.collapse">
				<div class="content_capa">
					<button type="button" class="close" ng-click="funciondesplegar(0, capa.capa.comision)"><span aria-hidden="true">&times;</span></button>
					<h4>Comisiones Disponibles</h4>
					<div ng-repeat="com in capa.datos" class="detalle_capas">
					<ul class="list-unstyled">
						<li><strong>Comisión: </strong>COM{{com.idComision}}</li>
						<li><strong>Fecha Inicio: </strong>{{com.Fec_inicio | date:'dd/MM/yyyy'}} </li>
						<li><strong>Sede: </strong>{{com.Lugar}} </li>
					</ul>
						<a href="/capacitacion/{{com.idComision}}" class="btn btn-xs btn-primary">

						Inscribirse
						</a>
					</div>
				</div>
			</div>
		</div>
  	</div>
  </div>

	  	
	</div>
	</div>	
  </div>
</div>