
<div class="container well ">
	<div class="row">
			<div class="col-md-12">
				<h3 class="text-center">{{mostrarCom[0].Nombre}}</h3>
				<hr>
			</div>
			
			<div class="col-md-7 ">
          <p class="codigos">CAPA{{mostrarCom[0].idCapacitacion}} - COM{{mostrarCom[0].idComision}}</p>
                
				  <p class="margin-left-40" >	
					   <img src="{{mostrarCom[0].imagenGrande}}" class="img-responsive">
				  </p>
				  
          <p class="descripcion margin-left-40"><strong>Descripción:</strong><br>{{mostrarCom[0].Descripcion}}</p>
          <p class="descripcion margin-left-40"><strong>Objetivos:</strong><br>{{mostrarCom[0].Objetivo}}</p>
          
          
          <p class="descripcion margin-left-40"><strong>Contenidos:</strong> 
          <ul class="list-unstyled margin-left-40">
            <!-- <li><strong>Cargo: </strong></li> -->
            <li class="modulo" ng-repeat="modulo in mostrarCom[0].Modulo" >{{modulo.modulo}}</li>
          </ul>
          </p>

          <p class="descripcion margin-left-40"><strong>Destinatarios:</strong> 
          <ul class="list-inline list-unstyled margin-left-40">
            <li><strong>Cargo: </strong></li>
            <li class="destinatarios" ng-repeat="cargo in mostrarCom[0].cargos" >{{cargo.cargo}}</li>
          </ul>
          <ul class="list-inline list-unstyled margin-left-40">
            <li><strong>Nivel: </strong></li>
            <li class="destinatarios" ng-repeat="nivel in mostrarCom[0].niveles" >{{nivel.nivel}}</li>
          </ul>
          <ul class="list-inline list-unstyled margin-left-40">
            <li><strong>Modalidad: </strong></li>
            <li class="destinatarios" ng-repeat="modalidad in mostrarCom[0].modalidades" >{{modalidad.modalidad}}</li>
          </ul>
           <ul class=" list-inline list-unstyled margin-left-40">
            <li><strong>Áreas: </strong></li>
            <li class="destinatarios" ng-repeat="area in mostrarCom[0].areas" >{{area.area}}</li>
          </ul>

         
          <!-- <div ng-include="funcionDestinatarios(mostrarCom[0].idCapacitacion)" >
            
          </div>   -->
           </p>

          

          
				  <div class="col-md-6" >
              <hr>
              <p style="margin-left: 20px">
                <strong>Modalidad:</strong> {{mostrarCom[0].Modalidad}} <br>
                <strong>Evaluación:</strong> Con Evaluación <br>
                <strong>Encuentros presenciales: </strong> {{mostrarCom[0].Duracion}} <br>
                <strong>Horas cátedra:</strong> {{mostrarCom[0].Hs_catedra}} <br>
              </p>
              <hr>
            
          </div>
          <div class="col-md-6">
              <ul style="background: #f1f1f1; margin-right: 20px">
	                	<hr>
	                  	<li><strong>Sede: </strong>{{mostrarCom[0].Lugar}}</li>
	                    <li><strong>Fecha de Inicio: </strong>{{mostrarCom[0].Fec_inicio | date:'dd/MM/yyyy'}}</li>
						          <li><strong>Fecha de Fin: </strong>{{mostrarCom[0].Fec_fin | date:'dd/MM/yyyy'}}</li>	
						          <li><strong>Horario: </strong>{{mostrarCom[0].Horario}}</li>
	                	<hr>
              </ul>
          </div>
          <div class="col-md-12">
            <a href="/capacitaciones" class="btn btn-regresar btn-raised btn-sm">Regresar al Listado</a>
          </div>
			</div>
      
      <div class="col-md-offset-1 col-md-4">
				   <p class=""><strong>Requisitos:</strong> 
           <div class="" style="padding:10px; border-top:1px solid #f1f1f1">
           <i class="fa fa-laptop fa-4x  fa-border pull-left" aria-hidden="true"></i>
           <p class="text-justify">Para realizar las capacitaciones es requisito imprescindible asistir con netbook o notebook a los encuentros presenciales  y para las actividades virtuales debe contar con conexión a internet e ingresar por lo menos dos veces a la semana a la Plataforma para realizar las actividades solicitadas.</p>    
           </div>
          <div class="noticia-sidebar animate-show" ng-controller="InscripcionCtrl" ng-hide="sendPass">
    <!-- noticia-sidebar envuelve todo el codigo, hasta el final  -->
<div class="titulo-inscripcion linea-separador-inscripcion">Formulario de Inscripción</div>

<!-- ****************************************************** -->
<!-- se realizan los controles y mensajes posibles al inscribirse -->

<div class="well inscripcion-form" ng-show="resultado == 0" > 
     <button type="button" ng-click="limpiar()" class="close" ><span aria-hidden="true" style="color:#000">&times;</span></button>
    <div class="inscripcion-titulo-error"> <span class="fa fa-times-circle-o color-rojo" aria-hidden="true"></span> <br>Datos incorrectos  <p class="help-block">Verifique sus datos de acceso al panel docente. Para ingresar haga clic <a href="http://docentes.innovacioneducativa.gob.ar/login.php" target="_blank">Aquí.</a> </p></div>
</div>

<div class="well inscripcion-form" ng-show="resultado == 1">
     <button type="button" ng-click="limpiar()" class="close" ><span aria-hidden="true" style="color:#000">&times;</span></button>
    <div class="inscripcion-titulo-suspension"><span class="fa fa-exclamation-triangle color-naranja" aria-hidden="true"></span> <br>Usted se encuentra momentáneamente suspendida/o para realizar inscripciones
    <p class="help-block">La suspensión momentanea se debe a la reincidencia de abandonos o inscripciones sin asistir a las capacitaciones</p> 
    <ul>
        <li><strong>Inicio de suspensión: {{fecha_suspension}} </strong></li>
        <li><strong>Fin de suspensión: {{fecha_alta}}</strong></li>
    </ul>
    <p class="help-block">Para ingresar al panel docente haga clic <a href="http://docentes.innovacioneducativa.gob.ar/login.php" target="_blank">Aquí.</a> </p>
    </div>
</div>
              
<div class="well inscripcion-form" ng-show="resultado == 2">
     <button type="button" ng-click="limpiar()" class="close" ><span aria-hidden="true" style="color:#000">&times;</span></button>
    <div class="inscripcion-titulo-1capa"><span class="fa fa-exclamation-triangle color-naranja" aria-hidden="true"></span><br> 
        Sólo se puede cursar <br> una capacitacion por vez
        <p class="help-block" >Actualmente se encuentra cursando la capacitación:</p>
          <ul>
            <li>{{cursando1}}</li>
          </ul>
        <p class="help-block">Para ingresar al panel docente haga clic <a href="http://docentes.innovacioneducativa.gob.ar/login.php" target="_blank">Aquí.</a> </p>
    </div>
</div>

<div class="well inscripcion-form" ng-show="resultado == 3" >
    <button type="button" ng-click="limpiar()" class="close" ><span aria-hidden="true" style="color:#000">&times;</span></button>
    <div class="inscripcion-titulo-ok"><span class="fa fa-check color-verde" aria-hidden="true"></span><br> 
      La inscripcion se realizó correctamente
      <p class="help-block" >El código de la inscripción realizada es <strong>COD{{codigo}}</strong></p>
      <ul>
          <li><strong>Capacitación: {{capacitacion}}</strong></li>
          <li><strong>Fecha de inicio: {{fecha_ini}}</strong></li>
          <li><strong>Horario: {{horario}}</strong></li>
          <li><strong>Lugar: {{lugar}}</strong></li>
      </ul>
      <p class="help-block">Para ingresar al panel docente haga clic <a href="http://docentes.innovacioneducativa.gob.ar/login.php" target="_blank">Aquí.</a> </p>                
    </div>
</div>

<!--  -->
<div class="well inscripcion-form" ng-show="resultado == 4">
    <button type="button" ng-click="limpiar()" class="close" ><span aria-hidden="true" style="color:#000">&times;</span></button>
    <div class="inscripcion-titulo-suspension"><span class="fa fa-exclamation-triangle color-naranja" aria-hidden="true"></span> <br> 
    El cupo de este curso está completo
    <p class="help-block">Consulte en <a href="/desarrollo-profesional-tic" target="_blank">Capacitaciones</a> la oferta disponible </p>
    <p class="help-block">Para ingresar al panel docente haga clic <a href="http://docentes.innovacioneducativa.gob.ar/login.php" target="_blank">Aquí.</a> </p>                
    </div>
</div>

<div class="well inscripcion-form" ng-show="resultado == 5" >
    <button type="button" ng-click="limpiar()" class="close" ><span aria-hidden="true" style="color:#000">&times;</span></button>
    <div class="inscripcion-titulo-2capa"><span class="fa fa-exclamation-triangle color-naranja" aria-hidden="true"></span><br> 
    Ya registra una inscripción para este mismo curso
    <p class="help-block">Capacitaciones en las que se encuentra inscripto:</p>
        <ul>
            <li><strong>Fecha de inscripción: {{fecha_ins | dateToISO | date: 'd-M-yyyy'}}</strong></li>
            <li><strong>Código de inscripción: </strong> COD{{codigo}}</li>
        </ul>
    <p class="help-block">Para ingresar al panel docente haga clic <a href="http://docentes.innovacioneducativa.gob.ar/login.php" target="_blank">Aquí.</a> </p>                               
    </div>
</div>

<div class="well inscripcion-form" ng-show="resultado == 12" >
    <button type="button" ng-click="limpiar()" class="close" ><span aria-hidden="true" style="color:#000">&times;</span></button>
    <div class="inscripcion-titulo-2capa"> <span class="fa fa-exclamation-triangle color-naranja" aria-hidden="true"></span><br> 
    La inscripción no puede realizarse
    <p class="help-block">Usted ya aprobó esta capacitación en ediciones anteriores.</p>
    <p class="help-block">Sugerimos la lectura del <a href="">Protocolo Reglamentario</a></p> 
    </div>
</div>

<!-- ****************************************************** -->
<!-- Formulario de Inscripcion -->

<div class="" ng-show="resultado == 20"  >
<form class="" ng-submit="Inscribir(mostrarCom[0].idComision)" >
 
  <fieldset>
  <!-- Nota: fieldset, para deshabilitar cualquier campo de formulario que se encuentre en su interior. -->
                    
      <div class="padding-top-15">
        <span class="help-block">Estimada/o Docente: Para inscribirse en el curso debe ingresar su DNI y contraseña del Panel Docente. 
                        Si aún no está registrado, regístrese haciendo clic  <a href="http://docentes.innovacioneducativa.gob.ar/registro.php" target="_blank">Aquí.</a></span>
      </div>
      <div class="form-group " >
          <label for="dni_doc" class="control-label">DNI</label>
          <input type="text" class="form-control" id="DNI" name="DNI" ng-model="InsData.DNI" placeholder=""  required >
          <span class="help-block">Ingrese el DNI sin puntos</span>
      </div>
      <div class="form-group">
          <label for="pass_don" class="control-label">Contraseña</label>
          <input type="password" class="form-control" id="pass_doc" name="password" ng-model="InsData.password" placeholder="" required>
          <span class="help-block"><a href="#" ng-click="recuperarPass()" style="text-decoration: underline">¿Olvidó su contraseña del Panel Docente? Puede recuperarla haciendo clic Aquí.</a></span>
          <br> 
      </div>
                      
      <span class="help-block">Al Inscribirse confirma haber leido y estar de acuerdo con el Protocolo Reglamentario. <a href="http://docentes.innovacioneducativa.gob.ar/pautas.php">Leer Protocolo</a></span>                     
      <div class="form-group">
          <button type="submit" class="btn btn-block btn-info ">Inscribirse</button>
      </div>
  </fieldset>
</form>



</div> <!-- Cierro div para ocultar formulario -->
</div> <!-- cierro noticia-sidebar -->

  <!-- Formulario para recuperar contraseña --> 
  
  <div class="frm-recuperarPass animate-show" ng-show="sendPass">
  <button type="button" class="close" ng-click="recuperarPass()"><span aria-hidden="true">&times;</span></button>
    <div class="titulo-recuperarPass linea-separador-neutro">Recuperar Contraseña</div>
    <form ng-submit="ResetPass()" enctype="multipart/form-data" ng-show="PassEnviado == 100">
      <div class="padding-top-15">
        <p>Estimada/o Docente: Para recuperar la contraseña ingrese a continuación su DNI.</p>  <div class="form-group " >
              <input type="number" class="form-control" id="inpDNI" name="inpDNI" ng-model="datos.inpDNI" ng-maxlength="8" min="0000001" max="99999999">
              <span class="help-block">Ingrese el DNI sin puntos</span>
      </div> 
      <div class="form-group">
            <button type="submit" class="btn btn-block btn-info " >Recuperar Contraseña</button>
        </div>
        </div>
    </form>  

    <div ng-show="PassEnviado == 120">
      <div class="mensaje-recuperar-ok">
      <p ><span class="fa fa-check color-verde" aria-hidden="true"></span><br>
        Su contraseña fue enviada a la siguiente dirección: <br>
        <strong>{{CorreoEnviado}}</strong>
      </p>
      <hr>
      <p >
        Si no tiene acceso a la cuenta de correo electronico mencionada. Por favor envienos un mensaje a: <br>
        <strong>coordinacioninnovacionedu@gmail.com</strong>

      </p>
      </div>
    </div>

    <div ng-show="PassEnviado == 130">
      <div class="mensaje-recuperar-ok"><span class="fa fa-exclamation-triangle color-naranja" aria-hidden="true"></span><br><p>
        En DNI ingresado no corresponde a un docente registrado <br>
        <a href="http://docentes.innovacioneducativa.gob.ar/registro.php" class="btn btn-primary" target="_blank">Registrarse</a>
      </p>
      </div>
    </div>
  </div>
  <!-- Fin de formulario recuperar contraseña -->
			</div> <!-- Cierro segundo col-md-4 -->
  </div> <!-- cierro row -->
</div>
