<div class="" style="background: rgba(224, 247, 250, 0.26);margin-top:1px; padding: 20px 0;">
<div class="container">

  <div class="row">
	<div class="col-md-12" style="margin-top:10px;">
	<div class="shadow-z-1" >
		<div class="row">
			<div class="">
				<div ><img src="images/mapa-lineas.png" class="img-responsive pull-left hidden-xs"></div>
		
        <h1 class="titulo-capa">Oferta de Capacitaciones </h1>
				<p class="desc-seccion">El <strong>Ministerio de Educación de Tucumán</strong> asume y profundiza en éste ciclo lectivo 2017, su función de estado que garantiza la formación docente permanente, universal y gratuita, configurando un programa cuyo eje vertebrador es la mejora de la enseñanza y los aprendizajes. Nos focalizamos en recrear estrategias metodológicas que permitan desarrollar en los alumnos capacidades fundamentales para su desenvolvimiento en el siglo XXI. A través de su <strong>Coordinación de Educación Digital</strong>, genera este espacio de formación destinado a docentes de todos los niveles, modalidades, cargos y áreas del sistema educativo, quienes podrán accerder a las ofertas de capatación mediante la autogestión de sus trayectos e instancias de aprendizaje,  para el fortalecimiento de sus prácticas docentes.</p>	
				<div class="col-md-offset-2">
					<a href="http://docentes.educaciondigitaltuc.gob.ar/login.php" class="btn btn-info btn-raised btn-sm" style="margin-right:10px" target="_blank">Panel Docente</a>	
					<a href="/protocolo-para-trayectos-formativos-2017" class="btn btn-info btn-raised btn-sm" style="margin-right:10px" >Protocolo Reglamentario</a>
		<!-- 			<a href="/certificacion" class="btn btn-info btn-raised btn-sm" style="margin-right:10px" target="_blank">Certificación</a>	 -->	
				</div>	
			</div>

		</div>
	</div>	
	</div>	
  </div>  
  </div>  
	</div>	
    <div class="" style="padding: 10px 0; background: #fff;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);">
  <div class="container"> 
  <div class="row">
  <div class="col-md-6" >

<!-- <label style="font-weight: 300"></label> -->

    <input class="styled-checkbox" id="styled-checkbox-4" type="checkbox" value="value4" ng-click="filtrarAbiertas()">
    <label for="styled-checkbox-4"  style="margin-top: 15px;font-weight: normal; color:#333;">Mostrar solo capacitaciones con inscripciones abiertas</label>
  </div>
  <div class="col-md-6">
<!-- <label style="font-weight: 300"></label> -->
   <select id="players" ng-model="orderList" class="form-control" 
  ng-options="linea for linea in lineas " ng-change="setLinea(orderList)">
    <option value="">Todas las instituciones</option>    
</select>
  </div>
</div>
</div>
</div>

  <div class="" style="padding: 20px 0;">
	<div class="container">	
  <div class="row">

<!--   <div class="col-md-12" style="margin-top:10px;">
  	<div class="titulo-listado-seccion" style="background: #fff; padding: 10px;">
  	<div class="row">
  		<div class="col-md-4">
  			<h1 style="margin:0;">Oferta de Capacitaciones </h1>
  		</div>
  		<div class="col-md-1">
  			<i class="fa fa-laptop fa-4x" aria-hidden="true"></i>
  		</div>
  		<div class="col-md-7">

  				<p>
					<strong>A tener en cuenta: </strong>	
  				Para realizar las capacitaciones es requisito imprescindible asistir con netbook o notebook a los encuentros presenciales  y para las actividades virtuales debe contar con conexión a internet e ingresar por lo menos dos veces a la semana a la Plataforma para realizar las actividades solicitadas.
  		</p>
  		</div>
  	</div>
  	
  	
  	</div>
  </div> -->
  <treasure-overlay-spinner active='spinner.active' style="height:500">
  	<div class="col-md-12">




  	  <md-content id="content-scroller">
       <div
             class="dynamic-grid"
             angular-grid="capacitacion"
             ag-grid-width="280"
             ag-gutter-size="30"
             ag-refresh-on-img-load="false"
          >
          <div class="card " ng-repeat="capa in capacitacion "  ng-if="soloAbiertas ? capa.capa.comision : 1 " >
     
            <div class="img-capa " 
            style="background-image: url({{capa.capa.imagen || 'images/secciondesarrollo.png'}});" ng-click="funciondesplegar(capa)">
             
             
            </div> 
        <div style="height: 20px">
     
           <a  class="btn btn-linea-capa  btn-info  btn-status-capa btn-xs active raised" style="white-space: normal; bottom: 15%; text-align: left;"> {{capa.capa.linea}} {{capa.capa.id}}</a>
         <a href="" ng-show="capa.capa.comision != 0" class="btn btn-abiertas  btn-status-capa  btn-block"> Inscripciones Abiertas</a>
              <a href="" ng-show="capa.capa.comision == 0" class="btn btn-cerradas   btn-status-capa  btn-block"> Inscripciones Cerradas</a>
        </div>
        
<!--     <div class="content_capa" ng-show="capa.collapse">
          <button type="button" class="close" ng-click="funciondesplegar(0, capa.capa.comision)"><span aria-hidden="true">&times;</span></button>
          <h4>Comisiones Disponibles</h4>
          <div ng-repeat="com in capa.datos" class="detalle_capas">
          <ul class="list-unstyled">
            <li><strong>Comisión: </strong>COM{{com.idComision}}</li>
            <li><strong>Fecha Inicio: </strong>{{com.Fec_inicio | date:'dd/MM/yyyy'}} </li>
            <li><strong>Sede: </strong>{{com.Lugar}} </li>
          </ul>
            <a href="/capacitacion/{{com.idComision}}" class="btn btn-xs btn-primary">

            Inscribirse
            </a>
          </div>

        </div> -->
        </div>
        </div>
</md-content>

<div ng-if="!sumCapa">
<h1 class="text-center">No hay ofertas de capacitación disponibles.{{sumCapa}}</h1>
<img class="img-responsive text-center" src="images/formame.jpg">
  
</div>

 
  	</div>
    </treasure-overlay-spinner>
  </div>

	  </div>	
	</div>
	