<div class="container">
	<div class="row">
		<div class="col-md-12">
		
			<div class="bg-comunicacion">
				<h2>Área de Comunicación Institucional</h2>
			</div>
			<div class="shadow-z-3 bg-white des-comunicacion">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
									<p>Tiene como misión propiciar la construcción de redes de comunicación y relaciones de calidad con el público objetivo (Ministerio de Educación de la Nación y de la Provincia, supervisores, directivos, docentes, alumnos y familias) y entre los perfiles profesionales que integran la Coordinación Provincial TIC, con el objetivo de que la institución adquiera una notoriedad social y pública adecuada a sus fines y actividades, transmitiendo la personalidad y los valores que la fundamentan.</p> 
									<img src="http://tictucuman.net/conectar-tucuman/imagenes/Logo-CyC.png" class="img-responsive">
<p>Asimismo, desarrolla e implementa estrategias de comunicación, tanto interna como externa, ofreciendo recursos efectivos de coordinación, apoyando los procesos de cambio y reforzando la integración del personal. </p>
<ul>
	<li>Eje de Comunicación Interna: Propicia la creación de un lenguaje, una cultura y valores comunes, potenciando el compromiso, la integración y la participación de todos los miembros en un proyecto compartido. Promueve una comunicación en todas las escalas, acelera la interacción y optimiza los canales de comunicación para el logro de los objetivos. </li>
	<li>
		Eje de Comunicación Externa: Tiene la misión promover y difundir las actividades de la institución y de sus colaboradores con los públicos objetivos, a través de diferentes medios de comunicación comprendiendo los medios audiovisuales, gráficos, radiales, internet y medios alternativos. Se gestiona la elaboración, emisión y distribución de información sobre las actividades que lleva a cabo la Coordinación Provincial TIC de manera ética y responsable, centrada en lo que la institución realiza para la comunidad. Asimismo permite monitorear y realizar un seguimiento permanente de lo que la prensa pública en torno a las acciones de la Coordinación TIC.
	</li>
</ul>



					</div>
				</div>

<hr>
</div>
<div class="int-comunicacion">
	  <div class="row"> 
		<div class="col-md-12">
	
	  <!-- 	<h3>Integrantes</h3> -->
	  </div>		
			<!-- <div class="col-md-4">
					
<div class="card">

  <div class="card-face face-1">
 
 
    <div class="card-face__avatar">
    

    <img src="images/user-mujer.png" width="110" height="110" draggable="false"/></div>
  
    <h2 class="card-face__name">Ginés Lazarte</h2>

    <span class="card-face__title">Referente del área</span>
 
    <div class="card-face-footer">
  
  <span></span>
    </div>
  </div>
</div>
				

</div> -->
<div class="col-md-12">

			</div>

	  </div>
     
   
     <!-- lineas -->
			<div class="shadow-z-3 bg-white des-comunicacion" ng-controller="SlideLineasCtrl">
			<div class="row">
       <div class="col-md-12"><div class="lineas-titulo">Lineas de acción en las que participa</div></div>
        <div class="col-md-2" ng-repeat="imagen in slineas">
            <div style="padding:10px" class="slide-lineas-btn">
                <a href="{{imagen.url_carpeta}}" target="_blanñ"><img src="{{imagen.boton_linea}}" alt="" class="img-responsive img-thumbnail"></a>
            </div>
        </div>
    </div>
            </div>
     <!-- fin lineas -->

    </div>

			</div>
		</div>
	</div>
</div>