<div class="container" style="margin-top:40px">
	<div class="row">
		<div class="col-md-12">
		<div class="contenedor-festival">
 <video-bg video-id="video.id"  ratio="6/9" loop="true" mute="true">
     		  <img  ng-src="images/banner-cine.png" alt="" class="img-responsive">
<div class="centrar-votos">
<h3><strong>Votaciones 8va Edición</strong></h3>
<h4><strong>20 a 22 de Octubre</strong></h4>
  <a href="http://tictucuman.net/festivaldecine/edicionVIII/votaciones2015/index.php" class="btn btn-warning btn-lg btn-raised" target="_blank">Ingresar a la página de votación</a>
     
<!-- <h4><strong>La 8va Edición Comienza en</strong></h4>
       <timecircles types="d,H,M,S" 
            end-date="2015-10-20T08:30:00.058Z" 
            ring-color="['#B3E5FC', '#FFEB3B']"
            ringbg-color="['#FF5722']"
            ring-len="30"
            ring-stroke="12"
            ring-space="15"
            value-names="['días','horas','minutos','segundos']"
            ></timecircles>
            <div style="margin-top:80px;">
            <h5>20 de Octubre de 2015 - 08:30 hs.</h5>
            <h5>Teatro San Martín, Av. Sarmiento 601, San Miguel de Tucumán</h5>
            </div> --> 
            </div>
        <div class="centrar-boton">
        <a href="http://tictucuman.net/festivaldecine/edicionVIII/" class="btn btn-warning btn-lg btn-raised" target="_blank">SITIO WEB</a>
        <a href="http://tictucuman.net/festivaldecine/edicionVIII/sedes" class="btn btn-warning btn-lg btn-raised" target="_blank">CENTROS DE PROYECCIÓN</a>
        <a href="http://tictucuman.net/festivaldecine/edicionVIII/noticias.php" class="btn btn-warning btn-lg btn-raised" target="_blank">NOTICIAS</a>
        <a href="http://tictucuman.net/festivaldecine/edicionVIII/jurados" class="btn btn-warning btn-lg btn-raised" target="_blank">JURADOS</a>
        <a href="http://tictucuman.net/festivaldecine/comite2015.php" class="btn btn-warning btn-lg btn-raised" target="_blank">COMITÉ ORGANIZADOR</a>
        </div>
      </video-bg>
       
</div>
		</div>
	
	</div>
</div>