<div class="bg-central shadow-z-1" style="margin-bottom:0px;">
    <div class="container-fluid">
        <div class="row">
        	<div class="col-md-6">
        		<div class="col-md-3">
        			<img src="images/LogoVerticalCED.png" alt="" class="img-responsive" style="width: 70%; height: 70%;">
        		</div>
        		 <div class="col-md-9">
	        		 <h4 class="footer-credit " style="color: rgba(18,18,19,0.54); padding-top: 25px; margin-bottom: 15px;" ><strong>Coordinadora:</strong>  Lic. Karina Crespo <br>
	                Coordinación de Educación Digital <br> Ministerio de Educación de la Provincia de Tucumán </h4>

            	</div>
            </div>
            <div class="col-md-3">
            	<div ng-controller="SuscripcionCtrl">
       				<div ng-include="template.suscribir" ></div>  
      			</div>  
            </div>
            <div class="col-md-3">
        		<div class="titulo-suscripcion">Redes Sociales</div>
            	
            	<div class="clearfix barra-social">
				         <a href="https://www.youtube.com/channel/UCpbI-q03K3u3fP0jB5pIVjA?sub_confirmation=1" class="color-ut" target="_blank">
				         <span class="flaticon-youtube-logotype"></span>
				       </a>
				       <a href="https://www.facebook.com/innovaciontuc" class="color-fb" target="_blank">
				         <span class="flaticon-facebook-logo-button"></span>
				       </a>
				        <a href="https://twitter.com/innovaciontuc?ref_src=twsrc%5Etfw" class="color-tw" target="_blank">
				         <span class="flaticon-twitter-logo-button"></span>
				       </a>
				</div>
            </div>

        </div>
    </div>
</div>