<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				 <h3 >Coordinación de Educación Digital <br> <span> Ministerio de Educación de Tucumán</span> </h3>
				 
                  <hr>


			        <ul class="list-unstyled">
			        <li><i class="fa fa-street-view" aria-hidden="true"></i> Referente TIC:  Lic. Juan E. Santillan</li>
			          <li><i class="fa fa-map-marker" aria-hidden="true"></i> José Ingenieros 260 - San Miguel de Tucumán - CP:4000</li>
			          <li><i class="fa fa-envelope-o" aria-hidden="true"></i> coordinacion@educaciondigitaltuc.gob.ar</li>
			          <li>
			          	  <a href="https://www.facebook.com/edudigtuc" class="color-fb" target="_blank">
  				        <i class="fa fa-facebook" aria-hidden="true"></i> facebook.com/edudigtuc
  				       </a>
			          </li>
			          <li>
			          	   <a href="https://twitter.com/edudigtuc?ref_src=twsrc%5Etfw" class="color-tw" target="_blank">
  				         <i class="fa fa-twitter" aria-hidden="true"></i> twitter.com/edudigtuc
  				       </a>
			          </li>
			        
			        </ul>

			</div>
			<div class="col-md-6"></div>
		</div>
	</div>
</div>