<div class="bg-central shadow-z-1" style="margin-bottom:0px; background:#fff">
    <div class="container">
        <div class="row">
        	<div class="col-md-6">
        		<div class="col-md-3">
        			<img src="images/LogoVerticalCED.png" alt="" class="img-responsive" style="width: 70%; height: 70%; margin: 0 auto;">
        		</div>
        		 <div class="col-md-9">
                 <br>
                  <h4 class="text-center">Coordinación de Educación Digital <br> Ministerio de Educación de Tucumán <br> <small><strong>Referente TIC Pedadógico:</strong>  Lic. Karina Crespo</small><br> <small><strong>Referente TIC Técnico: </strong>  Lic. Juan E. Santillan</small></h4>
                  <br>
        <ul style="font-size: 14px">
          <li>José Ingenieros 260 - San Miguel de Tucumán - CP:4000</li>
          <li>coordinaciondeeducaciondigital@gmail.com</li>
        
        </ul>
	        		
            	</div>
            </div>
            <div class="col-md-3">
            	<div ng-controller="SuscripcionCtrl">
       				<div ng-include="template.suscribir" ></div>  
      			</div>  
            </div>
            <div class="col-md-3">
          		<div class="titulo-suscripcion">Redes Sociales</div>
              	
              <div class="clearfix barra-social">
  				         <a href="https://www.youtube.com/channel/UCpbI-q03K3u3fP0jB5pIVjA?sub_confirmation=1" class="color-ut" target="_blank">
  				         <span class="flaticon-youtube-logotype"></span>
  				       </a>
  				       <a href="https://www.facebook.com/edudigtuc" class="color-fb" target="_blank">
  				         <span class="flaticon-facebook-logo-button"></span>
  				       </a>
  				        <a href="https://twitter.com/edudigtuc?ref_src=twsrc%5Etfw" class="color-tw" target="_blank">
  				         <span class="flaticon-twitter-logo-button"></span>
  				       </a>
  				    </div>
            </div>

        </div>
    </div>
</div>