<div class="titulo-galeria">Galeria de Imagenes</div>

<div class="well"> 
  <div class="row">
    <ul>
        <br>
        <div class="col-md-8 " >
	        <img class="img-responsive " src="http://innovacioneducativa.gob.ar/Pagina/{{images[selectedPhoto].url}}" alt="">
	        <div class="linea-separador"></div>
	        <!-- <div class="linea-separador-vertical"></div> -->
	        <div class="titulo-imagen"><h4>{{images[selectedPhoto].titulo}}</h4></div>
	        <div class="descripcion-imagen"><h5>{{images[selectedPhoto].descripcion}}</h5></div>
	        <br>
	        <br>
	        <br>
        </div>
        <div class="col-md-4 " >
	        <li style="display: inline" ng-repeat="url in images ">
	            <img style="height: 120px; width: 120px" ng-click="select($index)" src="http://innovacioneducativa.gob.ar/Pagina/{{url.url}}">
	        </li>
        </div>
    </ul>
    <br>
  </div>
</div>

