<div class="titulo-galeria">Galeria de Imagenes</div>

<div class="fondo-galeria"> 
  <div class="row" >
    <ul>
        <br>
        <div class="col-md-8 cambiar" >
	        <span class="centrar-imagen"><img class="img-responsive animate-show" ng-src="http://innovacioneducativa.gob.ar/Pagina/{{images[selectedPhoto].url}}" alt=""></span>
	         <!-- <span class="centrar-imagen"><img class="img-responsive " src="http://innovacioneducativa.gob.ar/Pagina/{{images[selectedPhoto].url}}" alt=""></span> -->
	        <div class="titulo-noticia">{{images[selectedPhoto].titulo_noticia}}</div>
	        <div class="linea-separador-galeria"></div>
	        <div class="titulo-desc-imagen">
		        <div>{{images[selectedPhoto].titulo}}</div>
		        <div>{{images[selectedPhoto].descripcion}}</div>
	        </div>
	        <br>
	        <br>
        </div>
        <div class="col-md-4 ">
        <!-- "cambiar($index)" -->
	        <li style="display: inline" ng-repeat="url in images | limitTo:10">
	            <span class="margen-inferior " ><img style="height: 120px; width: 120px" ng-click="select($index)" ng-src="http://innovacioneducativa.gob.ar/Pagina/{{url.url}}"></span>
	        </li>
	        <br>
	        <br>
	        
        </div>
    </ul>
    <br>
  </div>
</div>

