<div class="titulo-galeria">Galeria de Imagenes</div>

MENSAJE => {{saludo}}
<!-- <div >
    <ul>
        <img style="height: 200px; width: 200px" data-ng-src={{selectedPhoto}}>
        <br>
        <br>
        <br>
        <li style="display: inline" ng-repeat="url in images | startFrom:currentPage*pageSize | limitTo:pageSize">
            <img style="height: 100px; width: 100px" ng-click="select(url)" data-ng-src={{url}}>
        </li>
    </ul>
    <br>
    <button class="btn btn-default" ng-disabled="currentPage === 0" ng-click="currentPage=currentPage-1">
        <i class="glyphicon glyphicon-chevron-left"></i>
    </button>
    <button class="btn btn-default" ng-disabled="currentPage >= images.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        <i class="glyphicon glyphicon-chevron-right"></i>
    </button>
</div> -->