<div class="container">
	<div class="row">
		<div class="col-md-12">
		
			<div class="bg-gestion">
				<h2> Área Gestión Administrativa</h2>
			</div>
			<div class="shadow-z-3 bg-white des-gestion">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
				<p>Tiene como propósito establecer relaciones con los distintos niveles de gestión administrativa del Ministerio de Educación Provincial para agilizar el circuito administrativo y financiero, contrataciones de personal, elaboración del presupuesto jurisdiccional y rendiciones de fondos de las acciones implementadas en el marco de las diferentes líneas de acción.</p>
<p>Asimismo, asiste en todos los aspectos administrativos de los programas y proyectos nacionales, conforme lo especificado en los manuales de procedimientos administrativos correspondientes.</p>
<p>A su vez, el área tiene a su cargo la Gestión de Recursos Humanos, con la misión de propiciar espacios laborales en los cuales los integrantes de la Coordinación provincial TIC desarrollen su máximo potencial de desempeño, a partir de la actualización profesional permanente y la motivación.</p>
<p>La Gestión de RRHH se posiciona como una gestión de servicio ante la labor de las demás líneas / áreas, trabajando conjuntamente con sus respectivos referentes con el fin de propiciar las herramientas que contribuyan a la consecución de los objetivos planteados a la Coordinación Provincial TIC. Realiza también el monitoreo del desempeño laboral, generando instrumentos de gestión para la evaluación del mismo, a partir de los cuales se pueden establecer estrategias de acción en pos de optimizar el rendimiento de los consultores que integran esta dependencia.</p>

</p>
</div>
</div>
<hr>
</div>
<div class="int-gestion">
	  <div class="row"> 
		<div class="col-md-12">
	
	  	<!-- <h3>Integrantes</h3> -->
	  </div>		
			<div class="col-md-4">
					<!-- Card widget -->

				

</div>
<div class="col-md-8">
	
		
</div>

			</div>

	  </div>
     
   
     <!-- lineas -->
			<div class="shadow-z-3 bg-white des-gestion" ng-controller="SlideLineasCtrl">
			<div class="row">
       <div class="col-md-12"><div class="lineas-titulo">Lineas de acción en las que participa</div></div>
        <div class="col-md-2" ng-repeat="imagen in slineas">
            <div style="padding:10px" class="slide-lineas-btn">
                <a href="{{imagen.url_carpeta}}" target="_blanñ"><img src="{{imagen.boton_linea}}" alt="" class="img-responsive img-thumbnail"></a>
            </div>
        </div>
    </div>
            </div>
     <!-- fin lineas -->

    </div>

			</div>
		</div>
	</div>
</div>