
<div class="container">
    <div id="main_area">
        <!-- Slider -->
        <div class="row">
            <div class="col-sm-6" id="slider-thumbs">
                <!-- Bottom switcher of slider -->
                <ul class="hide-bullets">
                    <li class="col-sm-3 " ng-repeat="thumb in home.slides">
                        <a class="thumbnail" id="carousel-selector-{{$index}}">
                            <img src="http://innovacioneducativa.gob.ar{{thumb.capa}}" class="img-responsive thumb-home shadow-z-1">
                        </a>
                    </li>

                    
                </ul>
            </div>
            <div class="col-sm-6">
                <div class="col-xs-12" id="slider">
                    <!-- Top part of the slider -->
                    <div class="row">
                        <div class="col-sm-12" id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                              
                                    <div class="item" ng-class="{active: thumb.pg_order == 0}"  ng-repeat="thumb in home.slides" data-slide-number="$index" >
                                    
                                        <img src="http://innovacioneducativa.gob.ar{{thumb.capa}}">
                                        <h3>{{thumb.pg_title}}</h3>
                                        <p ng-bind-html="thumb.pg_des"></p>
                                   </div>    
                                 
                                   
                                </div>
                                <!-- Carousel nav -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Slider-->
        </div>

    </div>
</div>