<div class="home-header1 " style="margin-top: 10px;" >

<div class="container">
<div class="row">
  <div class="col-lg-12">
    

 <div class="home-slider-left hidden-xs">
              <a href="#" ><span class="glyphicon glyphicon-chevron-left"></span></a>
            </div>
             <slick class="slider" settings="fakaSlider" prev-arrow=".home-slider-left" next-arrow=".home-slider-right" ng-if="slickConfig3Loaded" init-onload=true>
<div class="drop-shadow lifted" ng-repeat="s in slide ">
             <div   style="background-image: url({{s.thumbnail}}); height: 50vh; background-size: cover; cursor: pointer; "  uib-tooltip="Clic para leer esta noticia"  tooltip-trigger  tooltip-placement="bottom" ng-click="linkOpen(s.id,s.titulo)">
             
               <div class="slider-content-title">
                  <h2>{{::s.subtitulo}}</h2>
              </div>

        <div class="slider-content-desc">
                 <h3>{{::s.titulo}}</h3>

                 
                                 </div>
                  
             </div>  
     
             </div>
             <!--  <div class="row">
                  <div class="col-lg-12"  style="padding-right: 0;">
                   <img class="img-responsive" ng-src="{{s.thumbnail}}">
                   
                   <div class=""></div>
                  </div>
                  <div class="col-md-7" style="padding-left: 0; ">
                  <div class="home-text-slider clearfix">
                      <h2>{{::s.titulo}}</h2>
                  <h3>{{::s.subtitulo}}</h3>
                  {{s.thumbnail}}
                   <div ng-bind-html="s.descripcion">
                     
                   </div>
                   <a ng-click="linkOpen(s.id,s.titulo)" class="btn btn-default btn-round  ">Leer publicación</a>
                  </div>
                
                  </div>
              </div> -->
                 
  
             

     </slick>

<div class="home-slider-right hidden-xs">
  <a href="#""><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
</div>




  </div>
</div>

  </div>

</div>
 <div class="container">
  <div class="row">
   <div class="col-md-12 ">
    <h1 class="home-title-blue ">
   <a href="/capacitaciones">Nuevo Programa Provincial</a></h1>
   <div class="home-title-blue ">
        <a href="/capacitaciones">
   <img class="img-responsive" src="images/gifcapa.gif">
     
   </a>
   </div>

   </div>
   </div>
   </div>
 <div class="container">
  <div class="row">
   <div class="col-md-8 ">
   <h1 class="home-title-blue ">
   <a href="/recursos">Accesos directos</a></h1>
    </div>
  <div class="col-lg-12">

 
  <md-content id="content-scroller">
       <div
             class="dynamic-grid"
             angular-grid="publicaciones"
             ag-grid-width="280"
             ag-gutter-size="25"
             ag-refresh-on-img-load="false"
          >
          <div class="card third-effect ">
           <a href="/capacitaciones" >
            <div class="img " style="background-image: url(images/secciondesarrollo.png);"></div> 
        </a>
        <!--     <div class="inside ">
              <h3 >{{::p.titulo}}</h3>
              <div change-url class="description" ng-bind-html="p.descripcion" ></div>
           
             
            </div> -->
          </div>
               <div class="card third-effect ">
               <a href="https://ludus.educaciondigitaltuc.gob.ar/" target="_blank">
            <div class="img " style="background-image: url(images/bannerbarabot.png);"></div> 
</a>
        <!--     <div class="inside ">
              <h3 >{{::p.titulo}}</h3>
              <div change-url class="description" ng-bind-html="p.descripcion" ></div>
           
             
            </div> -->
          </div>
               <div class="card third-effect ">
               <a href="https://docentes.educaciondigitaltuc.gob.ar/login.php" target="_blank">
            <div class="img " style="background-image: url(images/panel-docente.png);"></div> 
</a>
        <!--     <div class="inside ">
              <h3 >{{::p.titulo}}</h3>
              <div change-url class="description" ng-bind-html="p.descripcion" ></div>
           
             
            </div> -->
          </div>
                    <div class="card third-effect ">
                     <a href="https://plataforma.educaciondigitaltuc.gob.ar/moodle/" target="_blank">
            <div class="img " style="background-image: url(images/plataforma.png);"></div> 
</a>
        <!--     <div class="inside ">
              <h3 >{{::p.titulo}}</h3>
              <div change-url class="description" ng-bind-html="p.descripcion" ></div>
           
             
            </div> -->
          </div>
          <div class="card third-effect ">
              <a href="https://educaciondigitaltuc.gob.ar/revista/2016/" target="_blank">
            <div class="img " style="background-image: url(images/revista.jpg);"></div> 
</a>
        <!--     <div class="inside ">
              <h3 >{{::p.titulo}}</h3>
              <div change-url class="description" ng-bind-html="p.descripcion" ></div>
           
             
            </div> -->
          </div>
        </div>
</md-content>
    </div>
  </div>

</div>
<div class="container">
  <div class="row">
<div class="col-md-7 col-xs-12">
   <h1 class="home-title-pink ">
   <a href="/publicaciones">
       Publicaciones
   </a>
 
   </h1>
   </div>
<div class="col-md-3 hidden-xs">

   <div class="btn-group pull-right " role="group" aria-label="..." style="margin-top: 12px;">
  <button type="button" class="btn btn-primary PubSlider-left" style="border-right: 1px solid #fff"><span class="glyphicon glyphicon-chevron-left"></span></button>
  <button type="button" class="btn btn-primary PubSlider-right"><span class="glyphicon glyphicon-chevron-right"></span></button>

</div>
</div>
  <div class="col-md-12 col-xs-12 col-sm-12">
  <slick class="" settings="PubSlider" prev-arrow=".PubSlider-left" next-arrow=".PubSlider-right" ng-if="PubSliderActive" init-onload=true>

     <div class="sliderPub" data-ng-repeat="p in publicaciones" ng-click="linkOpen(p.id,p.titulo)">
            <div class="sliderPub-image" style="background-image: url({{::p.thumbnail}});"></div> 

            <div class="sliderPub-desc ">
              <h3 >{{::p.titulo}}</h3>
              <div change-url class="description" ng-bind-html="p.descripcion" ></div>
              <!-- <a href="/blog/{{post.id}}"><small>Primivo</small></a> -->
              <!-- <hr> -->
              <!-- <button class="btn btn-info btn-sm">Round</button> -->
             
            </div>
          </div>
   



</slick>
  </div>
  </div>
  </div>


