
<div class="container">
    <div id="main_area">
        <!-- Slider -->
        <div class="row">

            <div class="col-md-6 hidden-sm hidden-xs margin-bottom-20" id="slider-thumbs">
                <!-- Bottom switcher of slider -->

                <ul class="hide-bullets">

                    <li class="col-sm-3 " ng-repeat="thumb in home.slides">
                      <a class="thumbnail"><img ng-src="{{thumb.capa}}" class="img-responsive thumb-home shadow-z-1" ng-click="select($index)"></a>
                    </li>
                  
                    <!-- codigo original (no borrar)         -->
                    <!-- <li class="col-sm-3 " ng-repeat="thumb in home.slides ">
                        <a class="thumbnail" id="carousel-selector-{{$index}}">
                            <img src="{{thumb.capa}}" class="img-responsive thumb-home shadow-z-1">

                        </a>
                    </li> -->
                </ul>
            </div>
            <div class="col-md-6 col-xs-12 margin-bottom-20">
                <div class="col-xs-12" id="slider">
                    <!-- Top part of the slider -->
                    <div class="row">
                        <div class="col-sm-12" id="carousel-bounding-box">
                       
                            <div class="carousel slide " id="myCarousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner ">
                                  <div class="item slide-box shadow-z-1" ng-class="{active: thumb.pg_id == thumb.pg_id}">    
                                      <img src="{{home.slides[selectedPhoto].capa}}" alt="">
                                  
                                      <h3>{{home.slides[selectedPhoto].pg_title}}</h3>     
                                      <div class="bg-blue">
                                        <div ng-bind-html="home.slides[selectedPhoto].pg_des | limitTo:340"></div>
                                        <!-- <div class="clearfix"> -->
                                          <a href="/articulo/{{home.slides[selectedPhoto].pg_id}}" class="btn btn-info btn-raised pull-right" style="margin-right:10px">Leer más</a>
                                        <!-- </div> -->
                                      </div> 
                                  </div>    

                                </div>

                                    <!-- codigo original (no borrar)     -->
                                    <!-- <div class="item slide-box shadow-z-1" ng-class="{active: thumb.pg_id == 982}"  ng-repeat="thumb in home.slides" data-slide-number="$index" index="thumb.pg_id">
                                    
                                        <img src="{{thumb.capa}}">
                                        <h3>{{thumb.pg_title}}</h3>
                                        <div class="bg-blue">
                                        <div ng-bind-html="thumb.pg_des | limitTo:350"></div>
                                        <div class="clearfix">
                                        <a href="/articulo/{{thumb.pg_id}}" class="btn btn-info btn-raised pull-right">Leer más</a>
                                        </div>
                                        </div>
                                   </div>    --> 
                                 
                                   
                            </div>
                                <!-- Carousel nav -->
                               <!--  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Slider-->
            <div class="col-md-12">
            <div class="video-200">
            <a href="http://bicentenario.innovacioneducativa.gob.ar/bicentenario_argentino/index.php" target="_blank" class="btn btn-raised btn-default">Ingresar al sitio</a><br>
            <a href="http://bicentenario.innovacioneducativa.gob.ar/juegos/index.php" target="_blank" class="btn btn-raised btn-warning">Juegos del Bicentenario</a><br>
            <a href="http://bicentenario.innovacioneducativa.gob.ar/independencia/index.php" target="_blank" class="btn btn-raised btn-info">Sitio: independencia interactivo</a><br>
            <a href="http://cine.innovacioneducativa.gob.ar/festival/index.php" target="_blank" class="btn btn-raised btn-primary">Bicentenario en Cortos</a>
              <video-bg video-id="'RU1T3yQUhOw'"></video-bg>
            </div>
              
            </div>
        </div>

    </div>
</div>
<!-- accesos directos -->
<div class="bg-central shadow-z-1">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="http://docentes.innovacioneducativa.gob.ar/login.php" target="_blank">
                    <img src="images/Panel-Docente.png" alt="" class="img-responsive">
                </a>
            </div>
            <div class="col-md-3">
                <a href="http://plataforma.innovacioneducativa.gob.ar/moodle/" target="_blank">
                    <img src="images/plataforma.png" alt="" class="img-responsive">
                </a>
            </div>
             <div class="col-md-3">
                <a href="http://innovacioneducativa.gob.ar/robotica" target="_blank">
                    <img src="images/robotica.png" alt="" class="img-responsive">
                </a>
            </div>
               <div class="col-md-3">
                <a href="http://mapa.innovacioneducativa.gob.ar/" target="_blank">
                    <img src="images/mapa.png" alt="" class="img-responsive">
                </a>
            </div>
           
        </div>
        <div class="row">
           <div class="col-md-3">
                <a href="http://innovacioneducativa.gob.ar/EAD/" target="_blank">
                    <!-- images/adistancia.png -->
                    <img src="http://innovacioneducativa.gob.ar/images/adistancia.png" alt="" class="img-responsive">
                </a>
            </div>
        </div>
    </div>
    </div>
    <!-- agendas -->
        <div class="container">
    <div id="container2">
    <div id="container1">
        <div id="col1">
                          <div class=" border-left">

                <div class="shadow-z-1 bg-calendar-home">
                <div class="ch-hoy">
              <h1>Agenda para el día {{home.hoy[0].ag_fecha | date:'EEEE'}} {{home.hoy[0].ag_fecha | date:'d'}} de {{home.hoy[0].ag_fecha | date:'MMMM'}}</h1>
                </div>
                   <div ng-scrollable="{scrollX:'none',scrollY:'right'}"  spy-x="home.posX" spy-y="home.posY" style="width: 100%; height: 650px">
                
                        <div class="calendar-home-event" ng-repeat="dia in home.hoy">
                            <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                            <span class="ch-entrada"> {{dia.ag_entrada}}</span>
                            <div class="ch-linea "> {{dia.ag_linea_accion }} <br>{{dia.Nombre }} </div>
                            <div class="ch-tipo pull-right">{{dia.ag_tipo_visita }} <a href="#" class="btn btn-default btn-xs" ng-click="home.open(lg,dia.ag_id)">Detalles</a></div>
                            <div class="ch-border"></div>
                        </div>
                           

   
  
</div>

                    
                </div>
                <a href="#" class="btn btn-info btn-fab ch-btn-up" ng-click="home.moveY(-120)"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
                <a href="#" class="btn btn-info btn-fab ch-btn-down" ng-click="home.moveY(120)"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
<div class="calendar-home-footer shadow-z-1" style="border-right:1px dashed #412A9B">
    
    <h3>Cantidad de actividades agendadas para la fecha <span>{{home.hoy.length}}</span></h3>
</div>
                </div>
        </div>
        <div id="col2">
            <!-- Column two start -->
       <div class="" style="">
                    <div class="fondo-blanco shadow-z-1">
                    <h1 class="h1-mapa">Mapa de subdivisión de circuitos</h1>
                    <div class="clearfix">
                        <img src="images/mapa_circuitos.png" alt="" class="img-responsive" style="margin:0 auto;">
                        </div>

                    <hr>
                    <div class="row">
                        
                  
                    <div class="detalle-c1 col-md-4">
                      <strong>Circuito 1</strong>
                      <ul>                 
                          <li>Burruyacú</li>
                          <li>Cruz Alta</li>
                          <li>Leales</li>
                      </ul>
                    </div>
                    <div class="detalle-c1 col-md-4">
                      <strong>Circuito 2</strong>
                      <ul>                 
                          <li>Capital</li>
                       
                      </ul>
                    </div>
                    <div class="detalle-c1 col-md-4">
                      <strong>Circuito 3</strong>
                      <ul>                 
                          <li>Trancas</li>
                          <li>Tafí Viejo</li>
                          <li>Yerba Buena</li>
                          <li>Lules</li>
                      </ul>
                    </div>
                    <div class="col-md-12"><hr></div>
                    <div class="detalle-c1 col-md-4">
                      <strong>Circuito 4</strong>
                      <ul>                 
                          <li>Tafí del Valle</li>
                          <li>Famaillá</li>
                          <li>Simoca</li>
                          <li>Monteros</li>
                      </ul>
                    </div>
                    <div class="detalle-c1 col-md-4">
                      <strong>Circuito 5</strong>
                      <ul>                 
                          <li>Chicligasta</li>
                          <li>Río Chico</li>
                          <li>J.B. Alberdi</li>
                        
                      </ul>
                    </div>
                         <div class="detalle-c1 col-md-4">
                      <strong>Circuito 6</strong>
                      <ul>                 
                          <li>La Cocha</li>
                          <li>Graneros</li>
                          
                        
                      </ul>
                    </div>
                      </div>
                    </div>
                </div>
            <!-- Column two end -->
        </div>
    </div>
</div>
</div>

 
    <!-- end agendas -->

  </div>