<div class="container">
	<div class="row">
		<section class="shadow-z-1">
			<div class="col-md-4">
	<nav class="menu-area-nav">
  <ul class="menu-area">
   <li class="var_nav shadow-z-3 bg-white" ng-repeat="area in areas">
      <div class="link_bg"></div>
      <div class="link_title">
        <div class=icon> 
        <i class="icon {{area.capa}}"></i>
        </div>
        <a href="#" class="menu-area-link"><span class="menu-area-span">{{area.pg_title}}</span></a>
      </div>
   </li>
   
  </ul>
</nav>
			</div>
			<div class="col-md-8">
				<div class="shadow-z-3 bg-white"><h1>dfsd</h1></div>
			</div>	

		</section>
	</div>
</div>