<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="well margin-top-10">
    <h3><strong>Líneas de Acción</strong></h3>
    <p>La Coordinación Provincial TIC coordina e implementa programas y proyectos, tanto nacionales como provinciales, relacionados a la implementación pedagógica de las TIC, siguiendo los lineamientos y objetivos establecidos por la Ley de Educación Nacional N°26.206.</p>
    
			</div>
		</div>
	</div>
</div> 
<!-- <div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="well margin-top-10">
			<div class="row">
				<div class="col-md-3">
				<img src="images/filtro.jpg" alt="" style="position:absolute; top:-20px; left:-4px;">
				</div>
				<div class="col-md-2" ng-repeat="filtro in filtros">
				<div class="togglebutton togglebutton-linea togglebutton-material-deep-aula">
                <label>
                  {{filtro.text1}}
                  <input type="checkbox" ng-model="filtro.estado" ng-change="checkN(filtro.id, filtro.estado)" >
                </label>
              </div>
              </div>
              
        

			</div>
			

         

			</div>
		</div>
	</div>
</div> -->
<div class="container">
<div class="row">
	<div class="col-md-12">
	<div class="lineas-actual">
						Líneas de Acción en estado de implementación 2016
					</div>
		<div class="well">

				<div class="row" >
			
		<div class="col-md-3"  ng-repeat="lin in lineas" >
			<div class="margin-top-10 lineas-well shadow-z-2" >
			<a href="{{lin.url_carpeta}}" target="_blank"><img src="{{lin.boton_linea}}"  alt="" class="img-responsive"></a>
       			
			</div>
		</div>
	</div>
		</div>
	</div>
</div>

</div> 
<div class="container">
<div class="row">
	<div class="col-md-12">
	<div class="lineas-ant">
						Líneas de Acción implementadas en años anteriores
					</div>
		<div class="well">

				<div class="row" >
			
		<div class="col-md-3"  ng-repeat="lin in LineasAnt" >
			<div class="margin-top-10 lineas-well shadow-z-2" >
			<a href="{{lin.url_carpeta}}" target="_blank"><img src="{{lin.boton_linea}}"  alt="" class="img-responsive"></a>
       			
			</div>
		</div>
	</div>
		</div>
	</div>
</div>

</div> 