<div class="container">
	<div class="row">
		<div class="col-md-12">
		
			<div class="bg-multimedia">
				<h2>Área Multimedia y audiovisual</h2>
			</div>
			<div class="shadow-z-3 bg-white des-multimedia">
			<div class="row">
			<div class="col-md-8 col-md-offset-2">
							<p>Tiene como propósito diseñar y producir recursos educativos multimediales que puedan incorporarse al diseño de propuestas áulicas para abordar diferentes temáticas en los diversos niveles y modalidades del sistema educativo, dando respuesta a  las necesidades que plantean hoy los nuevos espacios de educación, mediados por las Tecnologías de la Información y la Comunicación.</p>
							<img src="images/multimedia_logo.jpg" class="img-responsive">
<p>Asimismo, desde el área se propicia la generación de espacios a través de los cuales alumnos y docentes puedan socializar las producciones audiovisuales y multimediales generadas en instancias de trabajo institucional, brindando también espacios de formación para la transferencia de conocimientos relacionados a la temática.</p>
			</div>

</div>




<hr>
</div>
<div class="int-multimedia shadow-z-3">
	  <div class="row"> 
		

			</div>

	  </div>
     
   
     <!-- lineas -->
			<div class="shadow-z-3 bg-white des-multimedia" ng-controller="SlideLineasCtrl">
			<div class="row">
       <div class="col-md-12"><div class="lineas-titulo">Lineas de acción en las que participa</div></div>
        <div class="col-md-2" ng-repeat="imagen in slineas">
            <div style="padding:10px" class="slide-lineas-btn">
                <a href="{{imagen.url_carpeta}}" target="_blanñ"><img src="{{imagen.boton_linea}}" alt="" class="img-responsive img-thumbnail"></a>
            </div>
        </div>
    </div>
            </div>
     <!-- fin lineas -->

    </div>

			</div>
		</div>
	</div>
</div>