<div class="navbar-content">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-10">
                <a ng-href="{{homeLink}}">
				<!-- <img class="img-responsive navbar-logo" src="images/logo_black.png"> -->
				<img class="img-responsive navbar-logo" src="{{isoLogo}}">
				</a>
			
				
			</div>
	        <div class="visible-xs col-xs-2" ng-if="activeMenu">
				  <button type="button" class="btn btn-simple  menu-movil-btn " ng-click="openAside('right', false)">
                 <span class="glyphicon glyphicon-align-justify"></span>
            </button>
			</div>

			<div class="col-md-6 col-sm-6 hidden-xs">
				<div ng-if="!activeMenu">
				<a href="https://www.educaciontuc.gov.ar/nsitio/">
				<img class="img-responsive navbar-logo-min" src="images/logo_min_black.png">
					</a>
				</div>
				<div class="btn-group pull-right navbar-menu" role="group" aria-label="..." ng-if="activeMenu">
				  <a href="/" class="btn btn-simple" ng-class="{'navbar-active': $route.current.activeMenu == '/'}"><span class="glyphicon glyphicon-home"></span>			</a>
			<!-- 	  <a href="/publicaciones" class="btn btn-simple" ng-class="{'navbar-active': $route.current.activeMenu == 'publicaciones'}">Publicaciones</a> -->
				  <a href="/capacitaciones" class="btn btn-simple navbar-active-capa" ng-class="{'navbar-active': $route.current.activeMenu == 'capacitaciones'}">Capacitaciones</a>
				  <a href="/agendas" class="btn btn-simple" ng-class="{'navbar-active': $route.current.activeMenu == 'agendas'}">Agendas</a>
				  <a href="/recursos" class="btn btn-simple" ng-class="{'navbar-active': $route.current.activeMenu == 'recursos'}">Recursos</a>
				  <a href="/contacto" class="btn btn-simple" ng-class="{'navbar-active': $route.current.activeMenu == 'contacto'}">Contacto</a>
				</div>
			</div>
		</div>
	</div>
</div>

