<div class="navbar-content">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12">

				<img class="img-responsive" src="images/logo_white.png">
			</div>
		   <div class=" visible-xs">
		   	
		   </div>
			<div class="col-md-6 hidden-xs">
				<div class="btn-group pull-right navbar-menu" role="group" aria-label="...">
				  <a href="/" class="btn btn-simple" ng-class="{'navbar-active': $route.current.activeMenu == '/'}"><span class="glyphicon glyphicon-home"></span>			</a>
			<!-- 	  <a href="/publicaciones" class="btn btn-simple" ng-class="{'navbar-active': $route.current.activeMenu == 'publicaciones'}">Publicaciones</a> -->
				  <a href="/agendas" class="btn btn-simple" ng-class="{'navbar-active': $route.current.activeMenu == 'agendas'}">Agendas</a>
				  <a href="/recursos" class="btn btn-simple" ng-class="{'navbar-active': $route.current.activeMenu == 'recursos'}">Recursos</a>
				  <a href="/contacto" class="btn btn-simple" ng-class="{'navbar-active': $route.current.activeMenu == 'contacto'}">Contacto</a>
				</div>
			</div>
		</div>
	</div>
</div>

