<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="bg-pedagogica">
				<h2>Área Pedagógica</h2>
			</div>
			<div class="shadow-z-3 bg-white des-pedagogica">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p>La misión de esta área es implementar de manera sostenida distintas estrategias y acciones orientadas a la integración de las tecnologías de la información y la comunicación (TIC) en el sistema educativo, cuya intención es reducir y cerrar las brechas educativa, digital y social, dotando a alumnos, docentes y padres de herramientas tecnológicas que permitan potenciar los procesos pedagógicos, garantizar la igualdad de oportunidades de acceso y uso, de modo de propiciar mayores y mejores accesos a la información y al conocimiento.</p>

<p>Desde la Coordinación Provincial TIC se realizan, en este proceso, acciones de formación y acompañamiento específicas, con el fin de lograr la incorporación e integración institucional y pedagógica de las TIC en los establecimientos educativos.</p>

					</div>
				</div>
			



<hr>
</div>
<div class="int-pedagogica">
	  <div class="row"> 
		<div class="col-md-12">
	  
	  	<!-- <h3>Integrantes</h3> -->
	  </div>		
			<div class="col-md-4">
					<!-- Card widget -->


</div>
<div class="col-md-8">
	
	</div>
</div>

			</div>

	  </div>
     
   
     <!-- lineas -->
			<div class="shadow-z-3 bg-white des-pedagogica" ng-controller="SlideLineasCtrl">
			<div class="row">
		<div class="col-md-12 ">
       
       <div class="lineas-titulo">Lineas de acción en las que participa</div></div>
        <div class="col-md-2" ng-repeat="imagen in slineas">
            <div style="padding:10px" class="slide-lineas-btn">
                <a href="{{imagen.url_carpeta}}" target="_blanñ"><img src="{{imagen.boton_linea}}" alt="" class="img-responsive img-thumbnail"></a>
            </div>
        </div>
    </div>
            </div>
     <!-- fin lineas -->

    </div>

			</div>
		</div>
	</div>
</div>