

  <div class="" style="padding: 20px 0;">
	<div class="container">	
  <div class="row">

<!--   <div class="col-md-12" style="margin-top:10px;">
  	<div class="titulo-listado-seccion" style="background: #fff; padding: 10px;">
  	<div class="row">
  		<div class="col-md-4">
  			<h1 style="margin:0;">Oferta de Capacitaciones </h1>
  		</div>
  		<div class="col-md-1">
  			<i class="fa fa-laptop fa-4x" aria-hidden="true"></i>
  		</div>
  		<div class="col-md-7">

  				<p>
					<strong>A tener en cuenta: </strong>	
  				Para realizar las capacitaciones es requisito imprescindible asistir con netbook o notebook a los encuentros presenciales  y para las actividades virtuales debe contar con conexión a internet e ingresar por lo menos dos veces a la semana a la Plataforma para realizar las actividades solicitadas.
  		</p>
  		</div>
  	</div>
  	
  	
  	</div>
  </div> -->
  	<div class="col-md-8 col-md-offset-2">

  	  <p class="c14">
        <h2 class="c1 home-title-blue">Protocolo para trayectos formativos 2017</h2>

      </p>
      <div class="sombra-inset" style="padding:40px;box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14)">
        
   
      <p class="c4">
        <span class="c1"></span>
      </p>
      <p class="c2">
        <span>Desde el Ministerio de Educaci&oacute;n de la Provincia de Tucum&aacute;n se dise&ntilde;an, desarrollan e implementan diversos trayectos formativos para el desarrollo profesional docente, destinados a la comunidad educativa en &nbsp;todos sus niveles y modalidades. Los mismos se enmarcan en los diversos programas y l&iacute;neas de acci&oacute;n nacionales y jurisdiccionales, implementados en la provincia, </span>
        <span class="c0">en el marco de los principios establecidos en la Ley de Educaci&oacute;n Nacional N&deg; 26.206/06 y los compromisos asumidos por el Consejo Federal de Educaci&oacute;n en la Declaraci&oacute;n de Purmamarca, los lineamientos educativos propuestos por el Ministerio de Educaci&oacute;n de Tucum&aacute;n en su Plan Estrat&eacute;gico de Educaci&oacute;n del Bicentenario 2016-2019. </span>
      </p>
      <p class="c2">
        <span class="c0">&nbsp;</span>
      </p>
      <p class="c2">
        <span class="c0">En este sentido, y con el prop&oacute;sito de gestionar eficientemente el proceso que conlleva la puesta en pr&aacute;ctica de los diferentes trayectos formativos, se establece, para su participaci&oacute;n, el &nbsp;cumplimiento de las siguientes pautas y requerimientos:</span>
      </p>
      <p class="c2">
        <span class="c0">&nbsp;</span>
      </p>
      <p class="c2">
        <span class="c1">Condiciones para la inscripci&oacute;n</span>
      </p>
      <ul class="c3 lst-kix_9v1nkoahh3-0 start">
        <li class="c2 c5">
          <span class="c0">Contar con una cuenta activa de correo electr&oacute;nico personal.</span>
        </li>
        <li class="c2 c5">
          <span class="c0">Los horarios del trayecto formativo en el que se inscriba cualquier destinatario no deben coincidir con su horario laboral.</span>
        </li>
        <li class="c2 c5">
          <span class="c0">En los trayectos formativos correspondientes a la Coordinaci&oacute;n de Educaci&oacute;n Digital (CED), y otros que aborden tem&aacute;ticas TIC, ser&aacute; indispensable concurrir con netbook/notebook u otro dispositivo electr&oacute;nico similar, para la asistencia, cursado e implementaci&oacute;n de los mismos.</span>
        </li>
      </ul>
      <p class="c2 c8">
        <span class="c0"></span>
      </p>
      <p class="c2">
        <span class="c1">Inscripci&oacute;n y cl&aacute;usulas generales</span>
      </p>
      <ul class="c3 lst-kix_uhzefsxogwpv-0 start">
        <li class="c2 c5">
          <span>Cl&aacute;usula N&ordm; 1: Para efectuar la inscripci&oacute;n a cualquier curso/taller del Ministerio de Educaci&oacute;n &nbsp;es requisito indispensable que el docente se encuentre registrado &nbsp;en el Panel Docente ( </span>
          <span class="c10">
            <a class="c9" href="https://www.google.com/url?q=http://docentes.educaciondigitaltuc.gob.ar&amp;sa=D&amp;ust=1493980971440000&amp;usg=AFQjCNHbG1V0ucFx2QZ15FxncKW-7xRyJQ">http://docentes.educaciondigitaltuc.gob.ar</a>
          </span>
          <span>&nbsp;), herramienta online para la autogesti&oacute;n de propuestas de desarrollo profesional docente y proyectos</span>
          <span class="c0">.</span>
        </li>
      </ul>
      <p class="c2">
        <span class="c0">&nbsp;</span>
      </p>
      <p class="c2">
        <span class="c0">Cabe destacar que es menester la actualizaci&oacute;n de los datos de los docentes registrados en el Panel Docente, en la medida en que se produjeran cambios en sus datos personales y en su situaci&oacute;n de revista, &nbsp;dada la condici&oacute;n de declaraci&oacute;n jurada del mismo.</span>
      </p>
      <p class="c2">
        <span class="c0">&nbsp;</span>
      </p>
      <ul class="c3 lst-kix_4q6g3jyb0d9u-0 start">
        <li class="c2 c5">
          <span class="c0">Cl&aacute;usula N&ordm; 2: Para acceder al Panel Docente, se debe disponer de los datos de acceso (nombre de usuario y contrase&ntilde;a). En la opci&oacute;n &ldquo;Registrarse&rdquo; del Panel deber&aacute; realizar el registro, a fin de obtener los mismos. Es importante resaltar la necesidad de resguardo y cuidado de los datos de acceso, destacando que &nbsp;la contrase&ntilde;a es individual y privada, por lo que se solicita evitar la socializaci&oacute;n de la misma y tomar los recaudos para no olvidar estos datos.</span>
        </li>
      </ul>
      <p class="c2">
        <span class="c0">&nbsp;</span>
      </p>
      <p class="c2">
        <span>Cabe destacar que una vez completado el proceso de registro, el sistema env&iacute;a inmediatamente los datos de acceso &nbsp;a la direcci&oacute;n de correo que usted consign&oacute;. En caso de no recibir los mismos, escribir a la siguiente direcci&oacute;n: </span>
        <span class="c10">
          <a class="c9" href="mailto:dgdemanda@gmail.com">dgdemanda@gmail.com</a>
        </span>
        <span>, indicando Apellido, Nombre y DNI, desde su cuenta personal, de manera de corroborar la direcci&oacute;n consignada al momento del registro.</span>
      </p>
      <p class="c2">
        <span class="c0">&nbsp;</span>
      </p>
      <p class="c2">
        <span>Importante: Se encuentran disponibles los videotutoriales para el registro en el Panel docente y para la inscripci&oacute;n en los trayectos formativos, en nuestra plataforma virtual educativa</span>
        <span>.</span>
        <span class="c12">Hac&eacute; clic en los enlaces: </span>
      </p>
      <p class="c2">
        <span class="c0">Tutorial: Registro en Panel Docente - </span>
      </p>
      <p class="c2">
        <span class="c0">Tutorial: Inscripci&oacute;n en capacitaci&oacute;n</span>
      </p>
      <p class="c2">
        <span class="c0">&nbsp;</span>
      </p>
      <ul class="c3 lst-kix_e8rel1sqpv93-0 start">
        <li class="c2 c5">
          <span class="c0">Cl&aacute;usula N&ordm; 3: La inscripci&oacute;n a los talleres/cursos/jornadas debe ser personal.</span>
        </li>
      </ul>
      <p class="c2 c8">
        <span class="c0"></span>
      </p>
      <ul class="c3 lst-kix_e8rel1sqpv93-0">
        <li class="c2 c5">
          <span>Cl&aacute;usula N&ordm; 4: Es importante tener en cuenta que el sistema de inscripci&oacute;n le permitir&aacute; al cursante inscribirse en otro trayecto formativo s&oacute;lo una vez que haya sido calificado en el Panel Docente, en el taller/curso en el &nbsp;que se hubiera inscripto.</span>
        </li>
      </ul>
      <p class="c2 c8">
        <span class="c0"></span>
      </p>
      <ul class="c3 lst-kix_e8rel1sqpv93-0">
        <li class="c2 c5">
          <span>Cl&aacute;usula N&ordm; 6: En el marco de la pol&iacute;tica educativa jurisdiccional, los cursos y talleres se desarrollar&aacute;n en funci&oacute;n de la concreci&oacute;n de diferentes instancias evaluativas planificadas por el capacitador a cargo y teniendo presente que ser&aacute; necesario su cumplimiento y aprobaci&oacute;n </span>
          <span class="c0">para la acreditaci&oacute;n de dicho trayecto.</span>
        </li>
      </ul>
      <p class="c2 c8">
        <span class="c0"></span>
      </p>
      <ul class="c3 lst-kix_e8rel1sqpv93-0">
        <li class="c2 c5">
          <span class="c0">Cl&aacute;usula N&ordm; 7: Al momento de inscribirse en una capacitaci&oacute;n, es imperioso prestar especial atenci&oacute;n a los requisitos para la misma, as&iacute; como a la informaci&oacute;n que se consigna en el &iacute;tem &ldquo;Destinatarios&rdquo;, &nbsp;en funci&oacute;n de la correspondencia de este &iacute;tem con la/s disciplina/s y Nivel/ Modalidad que cada docente consign&oacute; en el Panel Docente.</span>
        </li>
      </ul>
      <p class="c2">
        <span class="c0">&nbsp;</span>
      </p>
      <ul class="c3 lst-kix_ls1yvs5zzoxu-0 start">
        <li class="c2 c5">
          <span>Cl&aacute;usula N&ordm; 8: Una vez realizada la inscripci&oacute;n en una comisi&oacute;n, podr&aacute; darse de baja en un plazo de hasta 48 horas antes del inicio de la misma. Fuera de este plazo, caducar&aacute; esta &nbsp;posibilidad.</span>
          <span class="c0">&nbsp;Cabe aclarar al inscripto, que si no realizase su baja y no asistiera al espacio donde se inscribi&oacute; ser&aacute; interrumpida una nueva posibilidad de inscripci&oacute;n a un pr&oacute;ximo trayecto formativo correspondiente al bimestre siguiente, a partir de la fecha de &nbsp;finalizaci&oacute;n del trayecto formativo docente al que no concurri&oacute;.</span>
        </li>
      </ul>
      <p class="c2">
        <span class="c0">&nbsp;</span>
      </p>
      <ul class="c3 lst-kix_xwd83nfge4fo-0 start">
        <li class="c2 c5">
          <span>Cl&aacute;usula N&ordm; 9: Los docentes que se inscriban en capacitaciones pertenecientes a la Coordinaci&oacute;n de Educaci&oacute;n Digital, </span>
          <span>y otras que aborden tem&aacute;ticas TIC</span>
          <span>&nbsp;deben asistir a las mismas con netbooks/notebooks u otro dispositivo digital similar, indefectiblemente. Asimismo, se advierte que el equipo a utilizarse debe contener los programas y/o aplicaciones que fueran requeridos conforme a la naturaleza del trayecto formativo docente y descriptos en los datos de la publicaci&oacute;n del trayecto elegido.</span>
        </li>
      </ul>
      <p class="c2 c8">
        <span class="c0"></span>
      </p>
      <ul class="c3 lst-kix_xwd83nfge4fo-0">
        <li class="c2 c5">
          <span class="c0">Cl&aacute;usula N&ordm; 10: El &uacute;nico medio de inscripci&oacute;n es a trav&eacute;s del sistema de inscripci&oacute;n on line correspondiente. Cabe destacar que no se realizar&aacute;n inscripciones excepcionales en instancias del inicio del curso o posteriores. En este sentido, si un docente no se encuentra inscripto en una capacitaci&oacute;n (lo cual implica no figurar en la planilla de asistencia), no podr&aacute; agregarse en la misma ni firmar.</span>
        </li>
      </ul>
      <p class="c2 c8">
        <span class="c0"></span>
      </p>
      <ul class="c3 lst-kix_xwd83nfge4fo-0">
        <li class="c2 c5">
          <span class="c0">Cl&aacute;usula N&ordm; 11: Estos trayectos formativos ofrecidos por el Ministerio de Educaci&oacute;n &nbsp;no son en horarios de servicio, por lo que no existe la posibilidad de emisi&oacute;n de constancias parciales o por encuentro. La disposici&oacute;n de constancia final queda estrictamente supeditada a talleres/cursos concluidos y aprobados. &nbsp; En este sentido, se advierte que la disposici&oacute;n de la constancia no es inmediata a la finalizaci&oacute;n de los talleres/cursos, ya que el procesamiento de la documentaci&oacute;n para tal fin implica tiempos de gesti&oacute;n.</span>
        </li>
      </ul>
      <p class="c2">
        <span class="c0">&nbsp;</span>
      </p>
      <ul class="c3 lst-kix_7uht5mor1fmm-0 start">
        <li class="c2 c5">
          <span class="c0">Cl&aacute;usula N&ordm; 12: Los talleres/cursos deben contar con un cupo m&iacute;nimo de 15 asistentes, caso contrario se reprogramar&aacute; el inicio del trayecto formativo o se suspender&aacute; el mismo con previo aviso del capacitador o tutor de dicha &nbsp;capacitaci&oacute;n.</span>
        </li>
      </ul>
      <p class="c2">
        <span class="c0">&nbsp;</span>
      </p>
      <p class="c2">
        <span class="c1">Cursado</span>
      </p>
      <p class="c2 c8">
        <span class="c0"></span>
      </p>
      <ul class="c3 lst-kix_9lbdkwyu2mha-0 start">
        <li class="c2 c5">
          <span>Cl&aacute;usula N&ordm; 13: La interacci&oacute;n y &nbsp;comunicaci&oacute;n formal en el marco del desarrollo de los talleres/cursos entre los docentes capacitandos y el docente capacitador se realizar&aacute; en el &aacute;mbito de los espacios dispuestos para tal fin, a saber el Panel </span>
          <span>Docente, con sus herramientas comunicacionales (foro, mensajer&iacute;a interna, etc.) </span>
          <sup>
            <a href="#cmnt1" id="cmnt_ref1">[a]</a>
          </sup>
          <sup>
            <a href="#cmnt2" id="cmnt_ref2">[b]</a>
          </sup>
          <span class="c0">como tambi&eacute;n en caso de que as&iacute; estuviera previsto, la Plataforma Virtual del Ministerio de Educaci&oacute;n de la provincia, considerando a ambos como &uacute;nicos medios de comunicaci&oacute;n formal. </span>
        </li>
      </ul>
      <p class="c2">
        <span class="c0">&nbsp;</span>
      </p>
      <ul class="c3 lst-kix_gy6wta6zsw0p-0 start">
        <li class="c2 c5">
          <span class="c0">Cl&aacute;usula N&ordm; 14: Respecto a la asistencia, se destaca que: </span>
        </li>
      </ul>
      <p class="c2 c8">
        <span class="c0"></span>
      </p>
      <p class="c2">
        <span class="c0">Los trayectos formativos desarrollados por el Ministerio de Educaci&oacute;n requieren para su acreditaci&oacute;n de un porcentaje de asistencia de acuerdo a la carga horaria establecida para cada curso/taller/jornada. Es prioridad que cada cursante conozca el r&eacute;gimen de asistencia que posee el trayecto de capacitaci&oacute;n elegido a los efectos de conocer los instrumentos v&aacute;lidos para su aprobaci&oacute;n en dicha capacitaci&oacute;n. La informaci&oacute;n sobre porcentajes de asistencias ser&aacute; comunicada por cada capacitador a trav&eacute;s de medios digitales formales, una vez iniciada la cursada.</span>
      </p>
      <p class="c2">
        <span class="c0">Importante: Sin excepciones de ninguna &iacute;ndole.</span>
      </p>
      <p class="c2 c8">
        <span class="c0"></span>
      </p>
      <p class="c2">
        <span class="c1">Evaluaci&oacute;n y Aprobaci&oacute;n</span>
      </p>
      <p class="c2">
        <span class="c0">&nbsp;</span>
      </p>
      <ul class="c3 lst-kix_days1laloaqh-0 start">
        <li class="c2 c5">
          <span class="c0">Cl&aacute;usula N&ordm; 15: Para el desarrollo y aprobaci&oacute;n de un trayecto formativo, el cursante dispondr&aacute; de instrumentos evaluativos ofrecidos, espec&iacute;ficamente por el capacitador durante la cursada. Estos instrumentos le permitir&aacute;n al tutor/capacitador dar cuenta del proceso de participaci&oacute;n y aprendizaje &nbsp;de los contenidos desarrollados en su capacitaci&oacute;n.</span>
        </li>
      </ul>
      <p class="c2">
        <span class="c0">&nbsp;</span>
      </p>
      <p class="c2 c8">
        <span class="c0"></span>
      </p>
      <ul class="c3 lst-kix_days1laloaqh-0">
        <li class="c2 c5">
          <span>Cl&aacute;usula N&ordm; 16: La </span>
          <span>Encuesta Final es un instrumento destinado a conocer la opini&oacute;n del cursante respecto al trayecto formativo, a fines de mejorar el desarrollo de las propuestas. La misma se realizar&aacute; a trav&eacute;s de medios digitales, mediante un formulario disponible en la &uacute;ltima clase, y figurar&aacute; en el aula virtual como actividad de car&aacute;cter obligatorio.</span>
        </li>
      </ul>
      <p class="c2 c8">
        <span class="c0"></span>
      </p>
      <ul class="c3 lst-kix_days1laloaqh-0">
        <li class="c2 c5">
          <span class="c0">Cl&aacute;usula N&ordm; 17: El cursante se considerar&aacute; aprobado una vez que se hayan cumplimentado las cl&aacute;usulas anteriores, es decir, los requisitos de:</span>
        </li>
      </ul>
      <p class="c2 c8">
        <span class="c0"></span>
      </p>
      <ul class="c3 lst-kix_days1laloaqh-1 start">
        <li class="c2 c6">
          <span class="c0">Asistencia correspondiente a su trayecto formativo.</span>
        </li>
      </ul>
      <p class="c2 c8">
        <span class="c0"></span>
      </p>
      <ul class="c3 lst-kix_days1laloaqh-1">
        <li class="c2 c6">
          <span class="c0">Presentaci&oacute;n de la totalidad de trabajos propuestos como obligatorios. </span>
        </li>
      </ul>
      <p class="c2 c8">
        <span class="c0"></span>
      </p>
      <ul class="c3 lst-kix_days1laloaqh-1">
        <li class="c2 c6">
          <span class="c0">Participaci&oacute;n en la instancia evaluativa consignada por el capacitador.</span>
        </li>
      </ul>
      <p class="c2">
        <span class="c0">&nbsp;</span>
      </p>
      <p class="c2 c8">
        <span class="c0"></span>
      </p>
      <p class="c2">
        <span class="c1">Certificaci&oacute;n</span>
      </p>
      <p class="c2 c8">
        <span class="c0"></span>
      </p>
      <p class="c2">
        <span class="c0">Para que un docente que ha cursado un trayecto formativo est&eacute; habilitado para iniciar el procedimiento de tramitaci&oacute;n de la certificaci&oacute;n correspondiente a cada trayecto formativo se deber&aacute;n tener en cuenta las siguientes cl&aacute;usulas:</span>
      </p>
      <p class="c2">
        <span class="c0">&nbsp;</span>
      </p>
      <ul class="c3 lst-kix_j2824fa5utvu-0 start">
        <li class="c2 c5">
          <span class="c0">Cl&aacute;usula N&ordm; 18: &nbsp;Haber aprobado el trayecto formativo docente, lo que implica el cumplimiento con lo estipulado en cl&aacute;usula N&ordm; 17.</span>
        </li>
      </ul>
      <p class="c2 c8">
        <span class="c0"></span>
      </p>
      <ul class="c3 lst-kix_j2824fa5utvu-0">
        <li class="c2 c5">
          <span class="c0">Cl&aacute;usula N&ordm; 19: La certificaci&oacute;n de cada trayecto formativo aprobado implica instancias de gesti&oacute;n y tratamiento de la documentaci&oacute;n pertinente a fin de cumplimentar con lo establecido por la Resoluci&oacute;n N&ordm;754/5 (MEd), instancia que requiere la interacci&oacute;n con otras dependencias, proceso que implica que la disposici&oacute;n de la certificaci&oacute;n no sea inmediata a la finalizaci&oacute;n de cada trayecto formativo.</span>
        </li>
      </ul>
      <p class="c2">
        <span class="c0">&nbsp;</span>
      </p>
      <p class="c2">
        <span class="c0">Cabe aclarar que todas las cl&aacute;usulas y requerimientos explicitados anteriormente ser&aacute;n debidamente presentados y aclarados por el capacitador del trayecto formativo, durante el cursado del mismo.</span>
      </p>
      <p class="c2">
        <span class="c0">Cualquier cl&aacute;usula no contemplada en este instrumento queda a consideraci&oacute;n del Ministerio de Educaci&oacute;n de Tucum&aacute;n.</span>
      </p>
      <p class="c2 c8">
        <span class="c0"></span>
      </p>
    
   </div>
 <a href="/capacitaciones" class="btn btn-regresar btn-raised ">Regresar al Listado de capacitaciones</a>
  	</div>

            
  </div>

	  </div>	
	</div>
