<div class="container" id="publicacion">
	<div class="row">
		<div class="col-md-12">
			<h1><small>{{:: p.subtitulo}}</small> <br>  {{::p.titulo}}</h1>
			<div class="datos">
					 <strong>Fecha de publicación: </strong> <span class="mdi-action-today"></span>    {{::p.created_at | dateToISO | date:'EEEE' }} {{::p.created_at | dateToISO | date:'d' }} de {{::p.created_at | dateToISO | date:'MMMM' }} de {{::p.created_at | dateToISO | date:'y' }} - <strong>Categoría: </strong> <span ng-if="p.tipo === 1">Noticias</span><span ng-if="p.tipo === 2">Capacitaciones</span> <span ng-if="p.tipo === 3">Experiencias</span>
			</div>
		
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div ng-bind-html=":: p.contenido" class="contenido"></div>
		</div>
		<div class="col-md-4">
			
		</div>
	</div>
</div>