
<div class="container">

<!-- <section class="well">
   <div class="row">
   
   <div class="btn-group pull-right acomodar-10">
              <a href="javascript:void(0)" class="btn btn-default btn-raised">{{tipo}}</a>
              <a href="#" data-target="#" class="btn btn-default btn-raised dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
              <ul class="dropdown-menu">
             
                <li><a href="javascript:void(0)" ng-click="cambiaTipo('Noticias')">Noticias</a></li>
                <li class="divider"></li>
                <li><a href="javascript:void(0)" ng-click="cambiaTipo('Capacitaciones')">Capacitaciones</a></li>
                <li class="divider"></li>
                <li><a href="javascript:void(0)" ng-click="cambiaTipo('Experiencias')">Experiencias</a></li>
                 <li class="divider"></li>
                <li><a href="javascript:void(0)" ng-click="cambiaTipo('Todos')">Todos</a></li>

              </ul>
            </div>         
   	</h2>

   	    	

   </div>

        <div class="col-md-1"><a href="#" ng-click="cambiaMes(1)" class="btn btn-xs btn-info" ng-class="{'btn-material-lime-A700 btn-raised': mes == 1}">ENE</a></div>
        <div class="col-md-1"><a href="#" ng-click="cambiaMes(2)" class="btn btn-xs btn-info" ng-class="{'btn-material-lime-A700 btn-raised': mes == 2}">FEB</a></div>
        <div class="col-md-1"><a href="#" ng-click="cambiaMes(3)" class="btn btn-xs btn-info" ng-class="{'btn-material-lime-A700 btn-raised': mes == 3}">MAR</a></div>
        <div class="col-md-1"><a href="#" ng-click="cambiaMes(4)" class="btn btn-xs btn-info" ng-class="{'btn-material-lime-A700 btn-raised': mes == 4}">ABR</a></div>
        <div class="col-md-1"><a href="#" ng-click="cambiaMes(5)" class="btn btn-xs btn-info" ng-class="{'btn-material-lime-A700 btn-raised': mes == 5}">MAY</a></div>
        <div class="col-md-1"><a href="#" ng-click="cambiaMes(6)" class="btn btn-xs btn-info" ng-class="{'btn-material-lime-A700 btn-raised': mes == 6}">JUN</a></div>
        <div class="col-md-1"><a href="#" ng-click="cambiaMes(7)" class="btn btn-xs btn-info" ng-class="{'btn-material-lime-A700 btn-raised': mes == 7}">JUL</a></div>
        <div class="col-md-1"><a href="#" ng-click="cambiaMes(8)" class="btn btn-xs btn-info" ng-class="{'btn-material-lime-A700 btn-raised': mes == 8}">AGO</a></div>
        <div class="col-md-1"><a href="#" ng-click="cambiaMes(9)" class="btn btn-xs btn-info" ng-class="{'btn-material-lime-A700 btn-raised': mes == 9}">SEP</a></div>
        <div class="col-md-1"><a href="#" ng-click="cambiaMes(10)" class="btn btn-xs btn-info" ng-class="{'btn-material-lime-A700 btn-raised': mes == 10}">OCT</a></div>
        <div class="col-md-1"><a href="#" ng-click="cambiaMes(11)" class="btn btn-xs btn-info" ng-class="{'btn-material-lime-A700 btn-raised': mes == 11}">NOV</a></div>
        <div class="col-md-1"><a href="#" ng-click="cambiaMes(12)" class="btn btn-xs btn-info" ng-class="{'btn-material-lime-A700 btn-raised': mes == 12}">DIC</a></div>
   
  </div>
  </section> -->
</div>

<div class="container">
	<div class="row">
	
         <div   >
 
	<div class="col-md-12"  dir-paginate="art in noticias | itemsPerPage: 5">
	<div class="articulos-cont border-noticia well" >
			<a href="articulo/{{art.pg_id}}" >
		
	  <div class="row">
	  	<div class="col-md-3">
	  		<img src="{{art.capa}}" alt="" class="img-responsive">
	  	</div>
	  	<div class="col-md-9">
	  		
				<h4 ><strong >{{art.pg_title}}</strong></h4>
				<h6>
					 <span class="mdi-action-today"></span>    {{art.Fecha | dateToISO | date:'EEEE' }} {{art.Fecha | dateToISO | date:'d' }} de {{art.Fecha | dateToISO | date:'MMMM' }} de {{art.Fecha | dateToISO | date:'y' }}
				</h6>
				<div ng-bind-html="art.pg_des"></div>
				<div class="footer-noticia">
        <div class="clearfix barra-social">
         <a href="articulo/{{art.pg_id}}" class="pull-right btn btn-info" >
        Leer más
       </a>
       <a href="#" class="pull-left color-fb" socialshare="" socialshare-provider="facebook" socialshare-url="http://innovacioneducativa.gob.ar/articulo/{{art.pg_id}}">
         <span class="flaticon-facebook-logo-button"></span>
       </a>
        <a href="#" class="pull-left color-tw" socialshare="" socialshare-provider="twitter" socialshare-url="http://innovacioneducativa.gob.ar/articulo/{{art.pg_id}}">
         <span class="flaticon-twitter-logo-button"></span>
       </a>
    </div>
				<!-- <samll class="label label-info">articulo</samll>
				<a class="pull-right"><span class="fa fa-plus-circle"></span></a>
				<a href="#" class="pull-right" socialshare="" socialshare-provider="facebook" socialshare-url="http://tictucuman.net/articulo/{{art.pg_id}}"><span class="fa fa-facebook-square"></span></a>
				<a href="#"  class="pull-right" socialshare  socialshare-provider="twitter" socialshare-via="ConectarTucuman" socialshare-url="http://tictucuman.net/articulo/{{art.pg_id}}" socialshare-hashtags="{{art.pg_des}}"><span class="fa fa-twitter-square"></span></a> -->
				
			</div>
	  	</div>
	  </div>
			</a>
		

				
			
			
			
		
</div>

</div>  
	<div class="col-md-12">
		<div class="well">
			<dir-pagination-controls on-page-change="pageChanged()"></dir-pagination-controls>
		</div>
	</div>

	</div>

	<div class="col-md-12" >
	<div class="well"  ng-show="!noticias.length" >
		<center>
		<div class="alert alert-info">
			<h4><strong>No se encontraron articulos</strong></h4>
			<p>No se encontraron publicaciones realizadas en la combinación de Año y Mes seleccionados</p>
		</div>
		</center>
	</div>

	</div>
</div>
</div>
  

   <!--     <div class="col-md-1">
    <select id="select111" class="form-control">
          <option>2015</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>

    </div> -->