<div class="container">
	<div class="row">
		<div class="col-md-12">
			<section class="fondo-banco ">
			     <div class="row">
			     	<div class="col-md-3"><a href="http://bancos.tictucuman.net/" target="_blank"><img src="images/logo-banco-home.png" alt="" class="img-responsive margin-top-15"></a></div>
				<div class="col-md-3">
			
            			<a href="http://bancos.tictucuman.net/version/2.0/proyectos/index.php" target="_blank">
						
						<img src="images/bancos_pro.jpg" alt="" class="img-responsive"> 
						
						</a>
				
				</div>
			     </div>
				
			</section>
		
		</div>
			
	</div>
</div>

