<div class="container">
   <div class="row ">
      <div class="col-md-12">
          <div class="titulo-naranja">Redes sociales</div>
        </div>
        <section class="shadow-z-3 bg-white">
     <div class="col-md-6 col-sm-6 margin-top-10"> 
 
<div class="fb-page shadow-z-3" data-href="https://www.facebook.com/innovaciontuc/?fref=ts" data-width="500" data-height="650" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/innovaciontuc/?fref=ts"><a href="https://www.facebook.com/innovaciontuc/?fref=ts">Coordinación de Innovación Educativa</a></blockquote></div></div>
      
       
    
   </div>
   <div class="col-md-6 margin-top-10">
   <div class="shadow-z-3">
   <a class="twitter-timeline" href="https://twitter.com/tictucuman" data-widget-id="661370417907687424">Tweets por el @tictucuman.</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
   </div>
   </section>
 </div>
 </div>