<div class="div-redes shadow-z-1" style="background: #ddd;     margin-top: -20px;">
 <h1 class="home-title-green">Redes sociales</h1>
<div class="container">
   <div class="row ">

     
     <div class="col-md-6 col-sm-6 margin-top-10"> 
  <div class="" style="margin: 0 auto; width: 520px">
<div class="fb-page " data-href="https://www.facebook.com/edudigtuc/?fref=ts" data-width="500" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/edudigtuc/?fref=ts"><a href="https://www.facebook.com/edudigtuc/?fref=ts">Coordinación de Educación Digital</a></blockquote></div></div>
      
       
    </div>
   </div>
   <div class="col-md-6 margin-top-10">
   <div class="" style="margin: 0 auto; width: 520px">
              <a class="twitter-timeline"  href="https://twitter.com/FestCineJuvenil" data-widget-id="512988858200227840">Tweets por el @FestCineJuvenil.</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          

</div>
   </div>
  
 </div>
 </div>
 </div>
<script type="text/javascript-lazy">

    loadjscssfile("//platform.twitter.com/widgets.js", "js");
      // alert("Yup!");
</script>
<!--      <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.3&appId=261334333920279";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> -->

