<div class="container">
<section class="shadow-z-3">
    <div class="row">
       <div class="col-md-12"><div class="lineas-titulo">Líneas de Acción</div></div>
        <div class="col-md-2 col-xs-6" ng-repeat="imagen in slineas">
            <div style="padding:10px" class="slide-lineas-btn">
                <a href="{{imagen.url_carpeta}}" target="_blanñ"><img src="{{imagen.boton_linea}}" alt="" class="img-responsive img-thumbnail"></a>
            </div>
        </div>
    </div>
</section>
    
</div>