<!-- <div ng-controller="VideoFestivalSlide" ng-include="template.BFestival" ></div> -->
<!-- <div ng-controller="HomeDestCtrl" ng-include="template.destacado" ></div> -->
<div class="container " >

  <div class="row ">
   <div class="col-md-12 col-xs-12 col-sm-12" >
   <section class="shadow-z-3"  >

   	 <carousel interval="3000" >
        <!-- <div class="loading-spiner-holder" data-loading ><div class="loading-spiner"><double-bounce-spinner></double-bounce-spinner></div></div> -->
     
      <slide class="slide" ng-repeat="slide in slidelista.slides" >
<div class="caja-slide">
 <img src="{{ slide.capa }}" alt="" class="img-responsive hidden-xs ">
 
 <div>
 <h4>{{ slide.pg_title }}</h4>
 <div ng-bind-html =" slide.pg_des "> {{ slide.pg_des }}</div>
<p ng-if="slide.pg_nav == 2"> <a href="capacitacion/{{ slide.pg_id }}" class="btn btn-warning btn-sm btn-raised">Leer más</a></p>
<p ng-if="slide.pg_nav == 1"> <a href="articulo/{{ slide.pg_id }}" class="btn btn-warning btn-sm btn-raised">Leer más</a></p>
 </div>

</div>

        
      </slide>
    </carousel>
   </section> 
  </div>
  </div>
</div>
<!-- <div ng-controller="VideoFestival" ng-include="template.Festival" ></div> -->
 <div ng-controller="AccesosCtrl" ng-include="template.accesos" ></div>
<div ng-controller="DireccionCtrl" ng-include="template.direccion" ></div>
 
 <div class="container">
   <div class="row">
     <div class="col-md-6 col-sm-6"> 
       <section class="shadow-z-3 s90" ng-controller="CalHoyCtrl" ng-include="template.calendario"></ng-include> ></section>
       <div class="btn-center-in">
         <a href="/agendas" class="btn btn-warning btn-fab btn-raised mdi-content-add "></a>
       </div>
     </div>
     <div class="col-md-6 col-sm-6"  ng-controller="ArtListCtrl" ng-include="template.articulos">
       
     
     </div>
    
   </div>
 </div>
 </div>
<div ng-controller="SlideLineasCtrl" ng-include="template.slideLineas" ></div>
<div ng-controller="ExpListCtrl" ng-include="template.experiencias" ></div>
<!-- <div ng-controller="BancosListCtrl" ng-include="template.bancos" ></div> -->
<!-- <div ng-controller="AlbumCtrl" ng-include="template.album" ></div> -->
 <div ng-controller="VideosCtrl" ng-include="template.videos" ></div>
 