<div class="container">
	<div class="row">
		<div class="col-md-12">
		
			<div class="bg-soporte">
				<h2>Área de Asistencia Técnica</h2>
			</div>
			<div class="shadow-z-3 bg-white des-soporte">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
		<!-- 			<span class="icon-soporte icon"></span>  -->
						<p>Tiene como finalidad realizar el monitoreo del correcto uso y funcionamiento, como así también el asesoramiento para la gestión y administración de los recursos tecnológicos provistos, a las instituciones educativas de todos los niveles y modalidades, por el Programa Conectar Igualdad, Primaria Digital, y otros que garantizan la conectividad.</p>
						<img src="images/soporte_tecnico_logo.jpg" class="img-responsive">
<p>Por otra parte, lleva a cabo las actividades de administración de las herramientas de hardware y software para asegurar la disponibilidad de las mismas;  el cumplimiento de las políticas de cada programa en lo relacionado con su funcionamiento y actualización; y las actividades de apoyo técnico a los diferentes usuarios (Supervisores, Directores,  Referentes Institucionales, Administradores de Red, Referentes Técnicos, etc.), a fin de asegurar la operatividad de la infraestructura y los servicios de información.</p>
<p>Asimismo, diseña y desarrolla instancias de formación para asegurar los niveles de capacitación requeridos para el uso de las herramientas tecnológicas, por parte de equipos técnicos y actores de las comunidades educativas.</p>

				</div>
			</div>
		




<hr>
</div>
<div class="int-soporte">
	  <div class="row"> 
		<div class="col-md-12">
	
	  	<!-- <h3>Integrantes</h3> -->
	  </div>		
			<div class="col-md-4">
					<!-- Card widget -->

	

</div>
<div class="col-md-8">
	
		<!--  -->
	</div>
</div>

			</div>

	  </div>
     
   
     <!-- lineas -->
			<div class="shadow-z-3 bg-white des-soporte" ng-controller="SlideLineasCtrl">
			<div class="row">
       <div class="col-md-12"><div class="lineas-titulo">Lineas de acción en las que participa</div></div>
        <div class="col-md-2" ng-repeat="imagen in slineas">
            <div style="padding:10px" class="slide-lineas-btn">
                <a href="{{imagen.url_carpeta}}" target="_blank"><img src="{{imagen.boton_linea}}" alt="" class="img-responsive img-thumbnail"></a>
            </div>
        </div>
    </div>
            </div>
     <!-- fin lineas -->

    </div>

			</div>
		</div>
	</div>
</div>