<div class="container">
	<div class="row">
		<div class="col-md-12">
		
			<div class="bg-territorial">
				<h2>Área de Gestión Territorial</h2>
			</div>
			<div class="shadow-z-3 bg-white des-territorial">
       <div class="row">
         <div class="col-md-8 col-md-offset-2">
           <p>Tiene como propósito diseñar, gestionar y monitorear las estrategias de acompañamiento situado a instituciones educativas de todo el territorio jurisdiccional para garantizar la efectiva implementación de los programas y proyectos nacionales y provinciales que propician la integración pedagógica de las tecnologías de la información y la comunicación.</p> 
 <img src="images/territorial_logo.png" class="img-responsive">
<p>Asimismo, desarrolla y lleva a cabo instancias de trabajo y actualización profesional con los equipos técnicos territoriales del Plan de Inclusión Digital Educativa, programas Conectar Igualdad y Primaria Digital para trabajar sobre herramientas de gestión.</p>
<p>La Coordinación Provincial TIC organiza su accionar en las instituciones educativas de toda la provincia, conforme la distribución territorial ministerial que divide a la provincia en cinco circuitos educativos. Es así que cada circuito cuenta con un referente técnico territorial TIC.


</p>

<hr>
         </div>
       </div>
				
				
</div>
</div>


<div class="col-md-12">
<div class="int-territorial">
	  <div class="row"> 
		<div class="col-md-10 col-md-offset-1">
	
	  	<!-- <h3>Integrantes</h3> -->
	  </div>		
			<div class="col-md-4">
					<!-- Card widget -->
		

</div>
<div class="col-md-8">

</div>

			</div>

	  </div>
     
   
     <!-- lineas -->
			<div class="shadow-z-3 bg-white des-territorial" ng-controller="SlideLineasCtrl">
			<div class="row">
       <div class="col-md-12"><div class="lineas-titulo">Lineas de acción en las que participa</div></div>
        <div class="col-md-2" ng-repeat="imagen in slineas">
            <div style="padding:10px" class="slide-lineas-btn">
                <a href="{{imagen.url_carpeta}}" target="_blanñ"><img src="{{imagen.boton_linea}}" alt="" class="img-responsive img-thumbnail"></a>
            </div>
        </div>
    </div>
            </div>
     <!-- fin lineas -->

    </div>

			</div>
		</div>
	</div>
</div>

