<div class="modal-header">
            <h3 class="modal-title">{{video[0].vd_titulo}} <br> <small>{{video[0].vd_descripcion}}</small></h3>
        </div>
        <div class="modal-body">
             <div my-youtube code="code"></div>

        </div>
        <div class="modal-footer">
             <a href="http://tictucuman.net/festivaldecine/edicionVIII/votaciones2015/index.php" class="btn btn-warning" target="_blank" ng-click="cancel()">Votación</a>
            <button class="btn btn-primary" ng-click="cancel()">Cerrar</button>
          
        </div>


